{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    {% assets "table_css" %}
	    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "table_js" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}{{super()}} - Admin - Queries{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
      <li class="active">Admin Queries</li>
    </ol>
{% endblock %}                                    

{% block page %}

<div class="panel panel-default">
    <table id="queries_table" 
        data-toggle="table"
        data-classes="table table-hover table-condensed"  
        data-url="{{ url_for("admin.queries") }}"
        data-response-handler="AdminQueriesResponseHandler"
        {#
        data-toolbar="#toolbar"
        data-query-params="queryParams"
        #}
        
        data-striped="true"
        data-detail-view="false"
        data-card-view="true"        
        data-mobile-responsive="true"
        data-check-on-init="true"

        data-pagination="true"
        data-side-pagination="client"  
        data-page-size="{{ page_size|default('10') }}"
        data-page-list="[10, 25, 50, 100]"  

        data-show-toggle="true"
        data-show-refresh="true"
        data-show-columns="true"
        data-show-pagination-switch="false" 
        {#data-show-export="true"#}
        data-flat="true"
        data-search="true"

        data-search-align="left"
        data-buttons-align="left"
        data-toolbar-align="right"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="left"
        data-pagination-v-align="top"
        
        data-sort-name="created"
        data-sort-order="desc">
        
        <thead> 
            <tr>
                <th data-field="_id" data-align="center" data-formatter="AdminQueriesLinkFormatter" data-card-visible="false" data-switchable="false" data-searchable="false">&nbsp;</th>
                <th data-field="created" data-formatter="createdFormatter" data-sortable="true">Date</th>
                <th data-field="result_count" data-sortable="true">Results</th>
                <th data-field="duration" data-sortable="true">Duration</th>
                <th data-field="query">Query Details</th>
                <th data-field="tags">Tags</th>
                <th data-field="remote_addr" data-sortable="true">Remote Address</th>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}

{% block add_scripts %}
    {{super()}}
    
    <script type="text/javascript">
    $(document).ready(function(){
        
        var $table = $('#queries_table');
        
        {#
        var $ok = $('#ok');
    
        $(function () {
            $ok.click(function () {
                $table.bootstrapTable('refresh');
            });
        });
    
        function queryParams() {
            var params = {};
            $('#toolbar').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
        #}
        
        
    });    
    
    </script>
{% endblock %}

