{% extends "base_form.html" %}

{% block title %}{{super()}} - Admin - Queries{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
      <li class="active">Admin Queries</li>
    </ol>
{% endblock %}                                    

{% block page %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
				    	<div class="panel-body">

							<form id="search_form">
								<div class="form-group">
									<label class="control-label" for="created">Date:</label>
									<input type="text" id="created" name="created" class="form-control input-sm"/>
								</div>
								<div class="form-group">
									<label class="control-label" for="provider">Provider:</label>
									<select id="provider" name="provider" class="form-control input-sm"></select>
								</div>
								<div class="form-group">
									<label class="control-label" for="dataset">Dataset:</label>
									<select id="dataset" name="dataset" class="form-control input-sm chosen"></select>
								</div>
								<div class="form-group">
									<label class="control-label" for="limit">Limit:</label>
									<select id="limit" name="limit" class="form-control input-sm">
										<option value="0">No limit</option>
										<option value="50">50</option>
										<option value="100" selected="true">100</option>
										<option value="200">200</option>
										<option value="500">500</option>
										<option value="1000">1000</option>
									</select>
								</div>
								
							</form>
							
				    	</div>
				    </div>
				</div>
			</div>		
		</div>
		
		<div class="col-md-10">
			<div class="row">
			    <div class="col-md-12">

				<div class="panel panel-default">
				
					<table id="stats" 
						data-classes="table table-hover table-condensed"    
	        			data-striped="true" 
	        			data-mobile-responsive="true" 
				        data-buttons-align="left" 
				        data-toolbar-align="right" 
				        data-pagination-h-align="left" 
				        data-pagination-detail-h-align="right" 
				        data-pagination-v-align="top" 
				        data-pagination="true"  
				        data-page-size="{{ page_size|default('10') }}" 
				        data-page-list="[10, 25, 50, 100]" 
				        data-show-columns="true" 
				        data-show-toggle="true" 
				        {#data-group-by="true" data-group-by-field="created"#}
						>
						<thead>
						    <tr>
					            <th data-field="created" data-formatter="createdFormatter" data-sortable="true">Date</th>
					            <th data-field="provider_name" data-sortable="true">Provider</th>
					            <th data-field="dataset_code" data-formatter="datasetLinkFormatter" data-sortable="true">Dataset</th>
				                <th data-field="count_accepts" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Accepted">Acc.</th>
				                <th data-field="count_rejects" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Rejected">Rej.</th>
				                <th data-field="count_inserts" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Inserted">Ins.</th>
				                <th data-field="count_updates" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Updated (revised)">Upd.</th>
				                <th data-field="count_errors" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Error. Dataset level">Err.</th>
				                <th data-field="duration" data-formatter="secondFormatter" data-align="right" data-sortable="true" data-title-tooltip="Duration (minuts)">Dur. (mn)</th>
				                <th data-field="avg_all" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Average run">Avg</th>
				                <th data-field="avg_write" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Average run for write operations only">Avg.W</th>
				                <th data-field="bulk_size" data-formatter="numberFormatter" data-align="right" data-sortable="true" data-title-tooltip="Bulk size">Bulk</th>
				                
				                <th data-field="enable" data-visible="false" data-title-tooltip="Dataset enable">Enable</th>
	
				                <th data-field="logger_level" data-title-tooltip="Logging level">log</th>
				                <th data-field="fetcher_errors" data-title-tooltip="Error. Fetcher level">Err.G</th>
				                <th data-field="async_mode" data-visible="false" data-title-tooltip="Async mode">async</th>
				                <th data-field="pool_size" data-visible="false" data-title-tooltip="Pool size (async_mode only)">Pool</th>
				                <th data-field="fetcher_version" data-visible="false" data-title-tooltip="">Ver.</th>
				                <th data-field="is_trace" data-visible="false" data-title-tooltip="Enable trace debug">Trace</th>
				                <th data-field="schema_validation_disable" data-visible="false" data-title-tooltip="Schema validation disable">valid.</th>
				                {#<th data-field="dataset_only" data-visible="false" data-title-tooltip="">DS Only</th>#}
							</tr>
						</thead>
					</table>
				</div>
			</div>		
		</div>
	</div>
</div>

{% endblock %}                                    

{% block scripts %}
    {{super()}}
    
    <script type="text/javascript">

	function createdFormatter(value, row) {
	    return new String(moment(value).format('YYYY-MM-DD - HH:mm'));
	}
	
	function numberFormatter(value, row) {
		return Humanize.formatNumber(value);
	}
	
	function secondFormatter(value, row) {
		return Math.round(value / 60, 2);
	}

	function datasetLinkFormatter(value, row) {
		if (row.enable == false){
			return '<span class="danger">' + value + '</span>';
		}
		return value;
		//TODO:
	    return '<a href="' + row.view + '" target="_blank" title="Show detail">' + row.dataset_code +'</a>';
	}
	
    
    $(document).ready(function(){
    	
		var $table = $('#stats').bootstrapTable();
		
		var limit = $('#limit').val();
		$('#limit').chosen();
		
		var today = moment();
		var last_week = moment().subtract(6, 'days');
		
		$('#created').daterangepicker({
			alwaysShowCalendars: false,
			//maxDate: today,
	        ranges: {
	            'Today': [moment(), moment()],
	            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
	            'Last week': [moment().subtract(6, 'days'), moment()],
	            'This Month': [moment().startOf('month'), moment().endOf('month')],
	            'Last Month': [moment().subtract(1, 'month'), moment()]
	         }				
		});
		$('#created').data('daterangepicker').setStartDate(last_week);
		$('#created').data('daterangepicker').setEndDate(today);
		
		var selectedProvider;
		var selectedDataset;

  		var drp = $('#created').data('daterangepicker');
  		//console.log("created : ", drp.startDate.format('YYYY-MM-DD'), drp.endDate.format('YYYY-MM-DD'));
		
	    function loadData(){
	  		var url = "{{url_for('.stats-run-json')}}";
	  		var options = {};
	  		
	  		options.limit = limit;
	  		options.startDate = drp.startDate.format('YYYY-MM-DD');
	  		options.endDate = drp.endDate.format('YYYY-MM-DD');
	  		
	  		if (selectedDataset) {
	  			options.dataset = selectedDataset;
	  		}
	  		else if (! _.isEmpty(selectedProvider)) {
	  			options.provider = selectedProvider;
	  		}
	  		
	  		ajax(url, 'GET', options).done(function(data) {
	        	$table.bootstrapTable('load', data.data);
	  		});
	  	}

		function Provider(data) {
		    this.id = data.slug;
		    this.text = data.name;
		}

		function Dataset(data) {
		    this.id = data.slug;
		    this.text = data.dataset_code;
		}

	  	function loadProviders(){
			var url = '{{ url_for("views.ajax-providers-list") }}';
			ajax(url, 'GET').done(function(data) {
	            var providers = $.map(data.data, function(item) { return new Provider(item) });
	            
	            $('#provider').empty().append('<option value="">Select a Provider</option>');
	            _.each(providers, function(item) {
	            	$('#provider').append($("<option></option>").attr("value", item.id).text(item.text));
	            });
	            
	            $('#provider').chosen({allow_single_deselect: true});
			});
	  	}
	  	
	  	function loadDatasets(){
	  		if ( _.isEmpty(selectedProvider) ){
	  			cleanDataset();
	  			return;
	  		}
	  		
	  		$("#dataset").chosen("destroy");
	  		
			var url = '/views/ajax/providers/'+ selectedProvider +'/datasets';
			ajax(url, 'GET').done(function(data) {
	            var datasets = $.map(data.data, function(item) { return new Dataset(item) });
	            
	            $('#dataset').empty().append('<option value="">Select a Dataset</option>');
	            
	            _.each(datasets, function(item) {
	            	$('#dataset').append($("<option></option>").attr("value", item.id).text(item.text));
	            });
	            
	            $('#dataset').chosen();
	        });
	  	}

	  	function cleanDataset(){
	  		selectedDataset = null;
	  		$('#dataset').empty().chosen();	  		
	  	}

	  	$('#provider').on('change', function() {
	  		selectedProvider = $(this).val();
	  		cleanDataset();
	  		loadDatasets();
	  		loadData();
	  	});	
	  	
	  	$('#dataset').on('change', function() {	  		
	  		selectedDataset = this.value;
	  		loadData();
	  	});	

	  	$('#limit').on('change', function() {
	  		limit = this.value;
	  		loadData();
	  	});	
	  	
		loadProviders();
		loadDatasets();
		loadData();
		
		$('#created').on('apply.daterangepicker', function(ev, picker) {
			loadData();
		});		
    
    });
    </script>
		
{% endblock %}                                    
    