{% extends "layout.html" %}

{% block title %}{{super()}} - Admin - Stats - Series{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
    </ol>
{% endblock %}                                    

{% block page %}

<table class="table table-hover table-condensed">	    
    <thead>
        <th>Provider</th>
        <th>Series</th>
    </thead>    
    <tbody>
        {% for r in result|sort(attribute='_id') %}
        <tr>
            <td>
            	{{ r._id }}
            </td>
            <td>
            	{{ r.count }}
            </td>
        </tr>        
        {% endfor %}
    </tbody>
</table>

<h4>CSV:</h4>
<pre>
{% for r in result|sort(attribute='_id') -%}
{{ r._id }},{{ r.count }}
{% endfor -%}
</pre>


{% endblock %}

