.main-inner {
   text-align: center;
   float: none;
   width: 100%;
   position: relative;
   z-index: 5;
   right: auto;
   background-color: transparent;
   padding: 0 20px;
   margin: auto;
}

.homepage {
   margin-top: -30px;
}

.homepage .main-inner {
   margin-top: -45px;
   margin-bottom: 60px;
   max-width: 650px;
}

#banner {
   background: transparent;
   width: 100%;
   height: auto;
   text-align: center;
   border-radius: 0;
   margin: auto;
   padding: 154px 0 130px;
   background: transparent url(logo_bg.png) no-repeat top center;
}
/* Retina background image */
@media
   only screen and (-webkit-min-device-pixel-ratio: 2),
   only screen and (   min--moz-device-pixel-ratio: 2),
   only screen and (     -o-min-device-pixel-ratio: 2/1),
   only screen and (        min-device-pixel-ratio: 2),
   only screen and (                min-resolution: 192dpi),
   only screen and (                min-resolution: 2dppx) {
   #banner {
      background-image: url(logo_bg@2x.png);
      background-size: 608px 400px;
   }
}

#banner h1 {
   font-size: 26px;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 5px;
   text-shadow: 0 3px 0 #08191f;
   font-weight: 700;
   letter-spacing: 0.18em;
   text-decoration: none;
   color: #fff;
}

#banner .lead {
   background-color: transparent;
   border-radius: 0;
   box-shadow: 0;
   margin: 0;
   color: #c5c5c5;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.1em;
   letter-spacing: 0.03em;
}

.home-logos {
   max-width: 630px;
   margin: auto;
   margin-bottom: 40px;
}

.home-logos h2 {
   color: #c5c5c5;
   text-transform: uppercase;
   margin: 15px auto 0;
   letter-spacing: 0.07em;
   font-size: 16px;
   background-color: #061318;
   border-top-right-radius: 6px;
   border-top-left-radius: 6px;
   padding: 10px 15px;
}

.logos {
   margin: 0;
   padding: 0;
   background-color: #FFF;
   list-style: none;
   border: 2px solid #061318;
   border-top: none;
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
   overflow: hidden;
}

.logos li {
   display: inline-block;
   max-width: 300px;
   padding: 20px 10px;
}

.logos li img {
   width: 100%;
}

.logos .logo-fs {
   padding-top: 8px;
   padding-right: 20px;
   padding-left: 0;
}
.logos .logo-cepremap img {
   margin-top: 15px;
   padding-right: 15px;
}

.home-intro {
   max-width: 610px;
   margin: 0 auto 40px;
   color: #d3d3d3;
}

.homepage .nav-pills {
   max-width: 250px;
   margin: auto;
}
.homepage .nav-pills > li > a {
   background-color: #0f2831;
}

@media (max-width: 699px) {
   .container-fluid .homepage {
      position: relative;
      margin-left: -15px;
      margin-right: -15px;
      
   }
   .container-fluid #banner {
      padding-left: 15px;
      padding-right: 15px;
   }
   #banner {
      padding-top: 130px;
   }
   #banner h1 {
      margin: 0 auto 5px;
      max-width: 400px;
   }
   .logos li {
      max-width: 48%;
   }
}

@media (max-width: 480px) {
   #banner h1 {
      font-size: 20px;
   }
   #banner .lead {
      font-size: 17px;
      margin: 0 auto;
      max-width: 300px;
   }
   .logos li {
      display: block;
      max-width: 250px;
      margin: auto;
      padding: 0 15px 15px;
   }
   .logos .logo-fs {
      padding-left: 15px;
   }
   .logos .logo-cepremap {
      padding-bottom: 30px;
   }
   .logos .logo-cepremap img {
      padding-right: 0;
   }
}

@media (max-width: 340px) {
   #banner {
      padding-top: 130px;
   }
   #banner h1 {
      max-width: 270px;
   }
}