{% extends "layout.html" %}

{% block breadcrumb %}
{% endblock %}

{% block page %}

<style>
.node-tree:hover:not(.node-disabled)
{
  background-color: #0a1b21;
}
</style>

<div class="form-inline">
<div class="form-group">
    <label for="input-search" class="sr-only">Search Tree:</label>
    <input type="input" class="col-xs-4 form-control" id="input-search" placeholder="Type to search..." value="">
</div>
<button type="button" class="btn btn-success" id="btn-search"><i class="fa fa-search"></i> Search</button>
<button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
<button type="button" class="btn btn-default" id="btn-collapse-all"><i class="fa fa-minus-circle"></i> Collapse All</button>
<button type="button" class="btn btn-default" id="btn-expand-all"><i class="fa fa-plus-circle"></i> Expand All</button>
</div>

<br/>

<div class="row">
	<div class="col-md-5">
		<div id="tree"></div>
	</div>
	<div class="col-md-7">
		<div id="dataset-select"></div>
	</div>
</div>


{% endblock %}

{% block add_scripts %}
    {{super()}}
    
    <script type="text/javascript">

	var dataset_codes = {{dataset_codes|tojson}};
	
	var tree = [
	{%- with childrens = categories.values() -%}
	    {%- for item in childrens recursive %}
        	{ 
        		text: "{{ item.name|e|safe }}",
        		state: {expanded: false},
        		{%- if item.datasets %}
        		nodes:
        		[
        		{%- for ds in item.datasets %}
        			{ 
        				text: "{{ ds.name|e|safe }}", 
        				{% if ds.dataset_code in dataset_codes -%}
        					href: "{{dataset_codes[ds.dataset_code].url}}",
        					state: {expanded: false},
        				{%- else -%}
        					state: {disabled: true, expanded: false},
        				{%- endif %}
        			},
        		{%- endfor %}
        		]
        		{%- endif -%}
	    	{%- if item.children %}
	    		nodes: [{{ loop(item.children) }}]
	    	},
	    	{%- else %}
	    	},
			{%- endif %}
	    {% endfor -%}
	{%- endwith -%}
	];

	{#
   		{%- if item.datasets %}
		tags: [{%- for ds in item.datasets %}"{{ds.dataset_code}}",{%- endfor %}],
		{%- endif -%}
		
	#}
	
    $(document).ready(function(){

    	//TODO: utiliser un spin de chargement pour page et event comme expand et search
    	
    	var $searchableTree = $('#tree').treeview({
        	data: tree,
        	enableLinks: false,
        	showTags: false,
        	expandIcon: 'fa fa-plus-circle',
        	//backColor: 'green'
        	onNodeSelected: function(event, data) {
        		if (data.href) {
		 		   	$.ajax({
				        url: data.href,
				        cache: false,
				        success: function(result) {
				        	$("#dataset-select").html(result.html);
				        }				        
				   	});
        		} else {
        			$('#tree').treeview('toggleNodeExpanded', [ data.nodeId, { silent: true } ]);
        		}
        	}
        });
        
        var search = function(e) {
            var pattern = $('#input-search').val();
            var options = {
              ignoreCase: true,
              exactMatch: false,
              revealResults: true
            };
            var results = $searchableTree.treeview('search', [ pattern, options ]);
            /*
            console.log("results : ", results);
            var output = '<p>' + results.length + ' matches found</p>';
            $.each(results, function (index, result) {
              output += '<p>- ' + result.text + '</p>';
            });
            $('#search-output').html(output);
            */
          }

          $('#btn-search').on('click', function(e){
        	  search();
        	  //e.preventDefault();
          });

          $('#btn-clear-search').on('click', function (e) {
            $searchableTree.treeview('clearSearch');
            $('#input-search').val('');
            //$('#search-output').html('');
          });
          
          $('#btn-expand-all').on('click', function (e) {
        	  //var levels = $('#select-expand-all-levels').val();
        	  var levels = null;
              $searchableTree.treeview('expandAll', { levels: levels, silent: true });
          });          

          $('#btn-collapse-all').on('click', function (e) {
              $searchableTree.treeview('collapseAll', { silent: true });
          });          
          
    });        
    </script>
{% endblock %}

