{% extends "base_form.html" %}

{% block title %}{{super()}} - Series Explorer{% endblock %}

{%- block head %}
    {{super()}}
    <link href="{{ url_for('static', filename="widukind/explorer.css") }}" rel="stylesheet">
{% endblock %}


{% block page %}

<div class="container-fluid">

	<div class="row">
		<div id="site-left" class="col-md-3">
			<div class="row">
				<div class="col-md-12 nopadding-left">				
		            <div class="panel panel-default">
		                <div class="panel-heading nopadding">
		                
							<ul id="sidebarnav" class="nav nav-pills nav-justified" role="tablist">
							
								<!-- form multi select -->								
								<li role="sidebar" class="active">
									<a href="#tab-form" data-toggle="tab">Explorer
										{#<i class="fa fa-wpforms fa-lg fa-fw"></i>#}
									</a>
							  	</li>
							 	
							 	<!-- datatree -->
							 	<li role="sidebar">
							  		<a href="#tab-tree" title="Original datatree from Provider" data-toggle="tab">Tree
							  			{#<i class="fa fa-sitemap fa-lg fa-fw"></i>#}
							  		</a>
							  	</li>
							 	
							 	<!-- search form -->
							 	<li role="sidebar">
							  		<a href="#tab-search" title="Search Full Text" data-toggle="tab">Search
							  			{#<i class="fa fa-search fa-lg fa-fw"></i>#}
							  		</a>
							  	</li>
							  	
							  	<!-- tags
                                TODO: tags
							  	{#
							 	<li role="sidebar">
							  		<a href="#tab-tags" title="Filter by tags" data-toggle="tab">Tags
							  			{#<i class="fa fa-tag fa-lg fa-fw"></i>#}
							  		</a>
							  	</li>
							  	#}
							  	-->
							  	
							</ul>
						</div><!-- panel-heading -->
						
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tab-form">
							
								<div class="panel panel-default noborder">
							    	<div class="panel-body">
										<form id="form-explorer" class="col-md-10 nopadding">
											<div class="form-group">
												<label class="control-label" for="provider">Provider:</label>
												<select id="provider" name="provider" class="form-control chosen-select"></select>
											</div>
											<div class="form-group">
												<label class="control-label" for="dataset">Dataset:</label>
												<select id="dataset" name="dataset" class="form-control chosen-select"></select>
											</div>
											
										</form>
							    	</div>
							    </div>
				    
							</div><!-- tabpanel tab-form -->
							
							<div role="tabpanel" class="tab-pane fade" id="tab-tree">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default noborder">
										    <div id="tree_wrapper" class="panel-body nopadding-left nopadding-right">

										    	<div class="input-group">
												    <input id="tree_search" name="tree_search" type="text" class="form-control input-sm" placeholder="Search category...">
													
													<span class="input-group-btn">												    
												        <button id="tree_btn_search" class="btn btn-default btn-sm" type="button">
												            <span class="glyphicon glyphicon-search"></span>
												        </button>
												        <button id="tree_btn_clear" class="btn btn-default btn-sm" type="button">
												            <span class="glyphicon glyphicon-remove"></span>
												        </button>
											        </span>
										        </div>
										        <p></p>
										        <div id="tree-tree"></div>
										    </div>
										</div>		    
									</div>
								</div>
							</div><!-- tabpanel tab-tree -->
							
							<div role="tabpanel" class="tab-pane fade" id="tab-search">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default noborder">
										    <div class="panel-body">
										    	<form id="form-search">
													<div class="input-group">
													    <input id="search" name="search" type="text" class="form-control input-sm" placeholder="Search...">
														
													    <span class="input-group-btn">
													        <button id="search_btn_search" class="btn btn-default btn-sm" type="submit">
													            <span class="glyphicon glyphicon-search"></span>
													        </button>
												        </span>
														<span class="input-group-btn">												    
													        <button id="search_btn_reset" class="btn btn-default btn-sm" type="reset" title="Reset search">
													            <span class="glyphicon glyphicon-remove"></span>
													        </button>
												        </span>
													</div>
													<div class="help_text">
													<small>
                                                        <p>
                                                        <br/>
                                                        Entering text separated by spaces will search for each word individually in order.<br/>
                                                        Example: <strong>Exchange Rates</strong><br/>
                                                        Will return results that contain the words <strong>Exchange</strong> OR <strong>Rates</strong><br/>
                                                        <br/>
                                                        To search for a phrase, enclose it in quotes<br/>
                                                        Example: <strong>"Exchange Rates"</strong><br/>
                                                        Will return results that contain the phrase <strong>Exchange Rates</strong><br/>
                                                        <br/>
                                                        All searches are case-insensitive.
                                                        </p>
                                                        </small>
													</div>
										    	</form>
										    </div>
										</div>		    
									</div>
								</div>
							</div><!-- tabpanel tab-search -->

							{#
                            TODO: tags
							<div role="tabpanel" class="tab-pane fade" id="tab-tags">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default noborder">
										    <div class="panel-body">
										    	<div id="tags-cloud"></div>
										    </div>
										</div>
									</div>
								</div>
							</div><!-- tabpanel tab-tags -->
							#}
							
						</div><!-- tab-content -->
				    </div>
				</div><!-- col-md-12 -->
			</div><!-- row -->
		</div><!-- #site-left -->
		
		<div id="site-content" class="col-md-9">
			<div class="row">
				<div class="col-md-12 nopadding">
		            
		            <div class="panel panel-default">
		                <div class="panel-heading nopadding">

							<ul id="infosnavbar" class="nav nav-pills" role="tablist">

								<!-- toogle left sidebar -->							
								<li role="presentation">
									<a id="sidetoogle" class="success" href="javascript:void(0)" aria-controls="not" role="tab">
										<i class="fa fa-bars fa-fw" aria-hidden="true" title="Sidebar toogle"></i>
									</a>
							  	</li>
							  	
							  	<!-- infos / count -->
								<li role="presentation" class="active">
									<a href="#tab-infos" aria-controls="tab-infos" role="tab" data-toggle="tab">
										<i class="fa fa-info-circle fa-fw"></i> Info
									</a>
							  	</li>

								<li role="presentation" class="btn-group">
									<a class="btn btn-default" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-download fa-fw"></i> API Link</a>
								    <ul class="dropdown-menu">
								    	<li><a id="down-json" href="javascript:void(0)">JSON</a></li>
								    	<li><a id="down-sdmx" href="javascript:void(0)">SDMX</a></li>
								    	{#
                                        <li><a id="down-html" href="javascript:void(0)">HTML</a></li>
                                        #}
								   	</ul>
								</li>							  	
		
								<li role="presentation">
									<a id="viewCart" class="success" href="javascript:void(0)" aria-controls="not" role="tab">
										<i class="fa fa-shopping-cart fa-fw" aria-hidden="true" title="View cart"></i>
										 Cart <span id="cart_count" class="badge">{{session.cart|length}}</span> 
									</a>
							  	</li>

							 	<li role="presentation">
							  		<a href="#tab-settings" aria-controls="tab-settings" role="tab" data-toggle="tab">
							  			<i class="fa fa-cog fa-fw"></i> Settings
							  		</a>
							  	</li>
							  	
                                <li role="presentation">
                                    <a id="tab-reset-filters" href="javascript:void(0)">
                                        <i class="fa fa-times fa-fw"></i> Reset filters
                                    </a>
                                </li>
							  	
							  	
							</ul><!-- infosnavbar -->
						</div><!-- panel-heading -->
						
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tab-infos">
					    		<table id="tab-infos" class="table nomargin-bottom table-hover table-condensed table-striped">
					    			<tbody>
					    				<tr>
					    					<td class="col-md-1">Series</td>
					    					<td class="col-md-2">Provider</td>
					    					<td class="col-md-3">Dataset</td>
					    					<!--
					    					TODO: tags
					    					<td class="col-md-3">Tags</td>
					    					-->
					    					<td class="col-md-3">Search Terms</td>
				    					</tr>
					    				<tr>
					    					<td>
					    						<span id="total_series" class="human-number">0</span>
					    					</td>
					    					<td>
					    						<small><span id="selectedProvider">All</span></small>
					    					</td>
					    					<td>
					    						<small><span id="selectedDataset">All</span></small>
					    					</td>
					    					<!--
					    					TODO: tags
					    					<td>
					    						<span id="selectedTags">None</span>
					    					</td>
					    					-->
					    					<td>
					    						<small><span id="selectedSearch">None</span></small>
					    					</td>
					    				</tr>
					    			</tbody>
					    		</table>
							</div>
							
							<div role="tabpanel" class="tab-pane fade" id="tab-settings">
							
								<div class="panel panel-default noborder">
							    	<div class="panel-body">
										<form class="form-horizontal" id="form-settings">
											<table class="table">
												<tbody>
													<tr>
														<td class="col-md-1">Limit Results</td>
														<td class="col-md-4">
															<select class="form-control chosen-select input-sm" id="limit" name="limit">
																<option value="50">50 series</option>
																<option value="100" selected="true">100 series</option>
																<option value="200">200 series</option>
																<option value="500">500 series</option>
																<option value="1000">1000 series</option>
															</select>
															<span class="help-text">Select a value for limit results.</span>
														</td>
													</tr>
												</tbody>
											</table>
										
										</form>
									</div>
								</div>
								
							</div><!-- tabpanel tab-settings -->
													
						</div><!-- .tab-content -->
					</div><!-- panel -->
				</div><!-- col -->
			</div><!-- row -->
			
			<div class="row">
			    <div class="col-md-12 nopadding">
			    
				    <div class="panel-body" style="display: none; height: 80%">        
				       <div id="graphdiv_contenair" class="contenair"></div>
				    </div>

					<div class="panel panel-default">
						<table class="table" id="series-list" 
							data-classes="table table-hover table-condensed table-striped table-no-bordered"    
		        			data-striped="true"
		        			data-cache="false" 
			    			{#data-cookie="true"
			    			data-cookie-id-table="saveExplorer"#}
					        data-card-view="false"        
		        			data-detail-view="false" 
	               			{#data-detail-formatter="detailFormatter"#}
	               			data-show-toggle="false"
	               			data-show-columns="false" 
		        			data-mobile-responsive="true"
		        			{#TODO: data-resizable="true" #} 
					        data-buttons-align="left" 
					        data-toolbar-align="right" 
					        data-pagination-h-align="left" 
					        data-pagination-detail-h-align="right" 
					        data-pagination-v-align="top" 
					        data-pagination="true" 
					        data-page-size="{{ page_size|default('10') }}" 
					        data-page-list="[10, 25, 50, 100]">
							<thead>
							    <tr>
					                {#
					                <th data-field="key" data-checkbox="true" class="styled"></th>
					                <th data-class="col-md-1" data-formatter="sparkFormatter" data-cell-style="sparkStyle" data-width="5%" data-card-visible="false">&nbsp;</th>
					                #}
					                <th data-width="120px" data-field="key" data-formatter="seriesButtonFormatter" data-card-visible="false" data-switchable="false">&nbsp;</th>
					                <th data-field="key" data-formatter="seriesKeyLinkFormatter" data-sortable="true" data-sort-name="key">key</th>
					                <th data-field="name" data-formatter="nameFormatter" data-sortable="true">Name</th>
						            <th data-field="provider_name" data-formatter="providerFormatter" data-sortable="false">Provider</th>
						            <th data-field="dataset_code" data-formatter="datasetCodeLinkFormatter" data-sortable="true">Dataset</th>
					                <th data-field="frequency" data-formatter="frequencyFormatter" data-align="center" data-sortable="true" data-title-tooltip="Frequency">Freq</th>
						            <th data-field="start_date" data-formatter="periodFormatter" data-align="center">Period</th>                         
						            <th data-field="version" data-align="right" data-sortable="true" data-title-tooltip="Version">Ver.</th>
								</tr>
							</thead>
						</table>
					</div><!-- panel -->
				</div><!-- col -->	
			</div><!-- row -->
		</div><!-- #site-content -->
	</div><!-- row -->
</div>
    

{% endblock page %}


{% block scripts %}
    {{super()}}
	{#<script type="text/javascript" src="{{ url_for('static', filename='local/jquery.sparkline.min.js') }}"></script>#}
	<script type="text/javascript" src="{{ url_for('static', filename='local/dygraph-combined.js') }}"></script>

    {% include "mustache-templates.html" %} 	

    <script type="text/javascript">

	selectedProvider = {% if selectedProvider %}"{{selectedProvider}}"{% else %}null{% endif %};
	selectedDataset = {% if selectedDataset %}"{{selectedDataset}}"{% else %}null{% endif %};
    
    $(document).ready(function(){
    	on_ready_explorer();
    });
    
    </script>
    
{% endblock %}
    