{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}
{% block title %}Widukind{% endblock %}

{% block html_attribs %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"{% endblock html_attribs %}

{%- block metas %}
{{super()}}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="{% block meta_description %}International Economics Database - A database of international macroeconomic data{% endblock %}" xml:lang="en-US" lang="en-US">
<meta name="keywords" content="{% block meta_keywords %}International Economics Database, international macroeconomic data{% endblock %}" xml:lang="en-US" lang="en-US">
<meta name="robots" content="index, follow">
{%- endblock metas %}

{% block styles %}
    {% assets "common_css" %}
	    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
 	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
{% endblock %}

{%- block head %}
	{{ super() }}
    <link href="{{ url_for('static', filename="widukind/style-light.css") }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<div id="content" class="container-fluid">
        
        {% block custom_navbar %}
        {% include "navbar.html" with context %}
        {% endblock %}
        
        <div class="row">
            {#
            <div id="site_menu_left" {% block menu_left_attrs %}class="col-md-2"{% endblock %} style="display: none;">
                {% block menu_left %}&nbsp;{% endblock %}
            </div>
            #}
            <div id="site_content" {% block site_content_attrs %}class="col-md-12"{% endblock %}>
	            {% block breadcrumb %}{% endblock %}
	            {% block page %}{% endblock %}
            </div>
	    </div>
	</div>     
{% endblock content %}

{% block scripts %}
    {% assets "common_js" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ moment.include_moment(local_js=url_for('static', filename="local/moment.min.js")) }}
       
    <script type="text/javascript">
    widukind_options.url_tags = '{{ url_for("views.ajax-tag-prefetch-series") }}?limit=50&provider=';
    widukind_options.url_tree = '{{ url_for("views.tree_root_base")}}?json=1&provider=';
    widukind_options.url_explorer = '{{url_for("views.ajax-explorer-datas")}}';
    widukind_options.url_providers = '{{ url_for("views.ajax-providers-list") }}';
    widukind_options.url_cart_view = '{{ url_for("views.ajax-cart-view") }}';
    widukind_options.url_cart_remove = '{{ url_for("views.ajax-cart-remove") }}';
    widukind_options.url_export_csv = '{{ url_for("views.export-series-csv-base", _external=True) }}';
    </script> 

<script type="text/javascript">

$(document).ready(function() {
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}        
          toastr['{{category}}']("{{message}}");
        {% endfor %}
      {% endif %}
    {% endwith %}
});
</script>

{% block add_scripts %}
{% endblock %}

{% block last_scripts %}

	{% if config.PIWIK_ENABLE %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{config['PIWIK_URL']}}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{config['PIWIK_SITE_ID']}}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="{{config['PIWIK_URL']}}piwik.php?idsite={{config['PIWIK_SITE_ID']}}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
	{% endif %}

	{% if config.GOOGLE_ANALYTICS_ID %}
	{{google.uanalytics(config['GOOGLE_ANALYTICS_ID'])}}
	{% endif %}
{% endblock %}


{% endblock %}

