{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}
{% block title %}Widukind{% endblock %}

{% block html_attribs %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"{% endblock html_attribs %}

{%- block metas %}
{{super()}}
<meta name="description" content="{% block meta_description %}International Economics Database - A database of international macroeconomic data{% endblock %}" xml:lang="en-US" lang="en-US">
<meta name="keywords" content="{% block meta_keywords %}International Economics Database, international macroeconomic data{% endblock %}" xml:lang="en-US" lang="en-US">
<meta name="robots" content="index, follow">
{%- endblock metas %}

{% block styles %}
    {% assets "common_css" %}
	    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
 	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
{% endblock %}

{%- block head %}
	{{ super() }}
    <link href="{{ url_for('static', filename="widukind/style-light.css") }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<div id="content" class="container-fluid">
        
        {% block custom_navbar %}
        {% include "include/navbar.html" with context %}
        {% endblock %}
        
        <div class="row">
            <div id="site_menu_left" {% block menu_left_attrs %}class="col-md-2"{% endblock %} style="display: none;">
                {% block menu_left %}&nbsp;{% endblock %}
            </div>
            <div id="site_content" {% block site_content_attrs %}class="col-md-12"{% endblock %}>
	            <span id="spinner" class="spinner-container"></span>
	            {#% include "include/series-cart.html" with context %#}
	            {% block breadcrumb %}{% endblock %}
	            {% block page %}{% endblock %}
            </div>
	    </div>
	    {#
	    {% include "include/messages.html" with context %}
        #}
	</div>     
{% endblock content %}

{% block scripts %}
    {% assets "common_js" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ moment.include_moment(local_js=url_for('static', filename="local/moment.min.js")) }}
       
<script type="text/javascript">

//var $table;

$(document).ajaxStart(function() {
    spinnerShow();
}).ajaxStop(function() {
    spinnerHide();
}).ajaxError(function() {
    spinnerHide();
});

$(document).ready(function() {
    
    $('.human-number').each(function(i, item){
        var value = $(item).text();
         $(item).text(Humanize.formatNumber(value));
    });

    $('.human-size-mb').each(function(i, item){
        var value = $(item).text();
         $(item).text(Humanize.fileSize(value));
    });
        
});
</script>

{% block add_scripts %}
{% endblock %}

{% block last_scripts %}

	{% if config.PIWIK_ENABLE %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{config['PIWIK_URL']}}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{config['PIWIK_SITE_ID']}}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="{{config['PIWIK_URL']}}piwik.php?idsite={{config['PIWIK_SITE_ID']}}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
	{% endif %}

	{% if config.GOOGLE_ANALYTICS_ID %}
	{{google.uanalytics(config['GOOGLE_ANALYTICS_ID'])}}
	{% endif %}
{% endblock %}


{% endblock %}

