{% extends "layout.html" %}

{% block title %}{{super()}} - Providers{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
      <li class="active">Providers</li>
    </ol>
{% endblock %}                                    

{% block page %}

<table id="providers_table" 
		data-toggle="table"
		data-classes="table table-hover table-condensed"
		data-mobile-responsive="true"
		data-striped="true"
		data-show-toggle="true"
		data-show-columns="true"
		data-search="false"
		data-search-align="left"
		data-buttons-align="left"
		data-toolbar-align="right"
		data-pagination-h-align="left"
		data-pagination-detail-h-align="right"
		data-pagination-v-align="top"
	    data-pagination="false"
	    {#
	    data-side-pagination="client"
	    data-page-size="{{ page_size|default('20') }}"
	    data-page-list="[10, 25, 50, 100]"
	    #}
	    >
    <thead>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="long_name" data-sortable="true">Long Name</th>
        <th data-field="region" data-sortable="true">Region</th>
        <th data-field="datasets" data-sortable="true">Datasets</th>
        <th data-field="series" data-sortable="true">Series</th>
    </thead>
    <tbody>
        {% for obj in providers %}
        <tr>
            <td>
                <a href="{{ url_for('views.datasets', slug=obj.slug) }}">
                    {{obj.name}}
                </a>
            </td>
            <td>
				{{obj.long_name}}
            </td>
            <td>
                {{obj.region}}            
            </td>
            <td>
                <a href="{{ url_for('views.datasets', slug=obj.slug) }}">
                    <span class="human-number">{{counters[obj.name]|default('0')}}</span>
                </a>
            </td>
            <td>
            {#
                <a href="{{ url_for('views.series', slug=obj.slug) }}">
                    <span class="human-number">{{counter(obj.name+".series")}}</span>
                </a>
            #}
            </td>
        </tr>        
        {% endfor %}
    </tbody>
</table>    


{% endblock %}

