{% extends "layout.html" %}

{% block title %}{{super()}} - Providers{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
      <li class="active">Providers</li>
    </ol>
{% endblock %}                                    

{% block page %}

<table id="providers_table" 
		data-toggle="table"
		data-classes="table table-hover table-condensed"
		data-mobile-responsive="true"
	    data-pagination="true" 
	    data-side-pagination="client"
	    data-page-size="{{ page_size|default('20') }}"
	    data-page-list="[10, 25, 50, 100]">
    <thead>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="longName" data-sortable="true">Long Name</th>
        <th data-field="datasets" data-sortable="true">Datasets</th>
        <th data-field="series" data-sortable="true">Series</th>
    </thead>
    <tbody>
        {% for p in providers %}
        <tr>
            <td>
                <a href="{{ url_for('views.datasets', provider=p.name) }}">
                    {{p.name}}
                </a>
            </td>
            <td>
                <a href="{{ url_for('views.datasets', provider=p.name) }}">
                    {{p.longName}}            
                </a>
            </td>
            <td>
                <a href="{{ url_for('views.datasets', provider=p.name) }}">
                    <span class="human-number">{{counter(p.name+".datasets")}}</span>
                </a>
            </td>
            <td>
                <a href="{{ url_for('views.series', provider=p.name) }}">
                    <span class="human-number">{{counter(p.name+".series")}}</span>
                </a>
            </td>
        </tr>        
        {% endfor %}
    </tbody>
</table>    


{% endblock %}

