{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    {% assets "table_css" %}
	    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "table_js" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}{{super()}} - Providers{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
      <li class="active">Providers</li>
    </ol>
{% endblock %}                                    

{% block page %}

<table id="providers_table" 
		data-toggle="table"
		data-classes="table table-hover table-condensed"
		data-mobile-responsive="true"
		data-striped="true"
		data-show-toggle="true"
		data-show-columns="true"
		data-search="false"
		data-search-align="left"
		data-buttons-align="left"
		data-toolbar-align="right"
		data-pagination-h-align="left"
		data-pagination-detail-h-align="right"
		data-pagination-v-align="top"
	    data-pagination="false">
    <thead>
        <th class="col-md-4" data-field="long_name" data-sortable="true">Long Name</th>
        <th class="col-md-2"  data-field="name" data-sortable="true">Name</th>
        <th data-field="region" data-sortable="true">Region</th>
        <th data-field="datasets" data-sortable="true">Datasets</th>
    </thead>
    <tbody>
        {% for obj in providers %}
        <tr>
            <td>
            	<a href="{{ url_for('views.datasets', slug=obj.slug) }}">
					{{obj.long_name}}
				</a>
            </td>
            <td>
				{{obj.name}}
            </td>
            <td>
                {{obj.region}}            
            </td>
            <td>
                <a href="{{ url_for('views.datasets', slug=obj.slug) }}">
                    <span class="human-number">{{counters[obj.name]|default('0')}}</span>
                </a>
            </td>
        </tr>        
        {% endfor %}
    </tbody>
</table>    


{% endblock %}

