{% extends "layout.html" %}

{% block title %}{{super()}} - Providers{% endblock %}

{% block breadcrumb %}
{% endblock %}

{%- block metas %}
{{super()}}
<meta name="robots" content="noindex, nofollow">
{%- endblock metas %}

{% block styles %}
    {{super()}}
    
    {% include "include/form-css.html" with context %}

	<style type="text/css">
	#search_form .col-xs-3, .col-xs-2 {
	   padding-left: 0;
	}		
	</style>

{% endblock %}

{% block menu_left_attrs %}class="col-md-2"{% endblock %}

{% block site_content_attrs %}class="col-md-10"{% endblock %}

{% block menu_left %}
{% include "include/search_form.html" with context %}
{% endblock %}

{% block page %}

<div class="container-fluid">

    <h4>Search result <span id="result_count" class="human-number badge">0</span></h4>

    <table id="series" 
        data-toggle="table" 
        data-classes="table table-hover table-condensed"  
        data-striped="true"
        data-mobile-responsive="true"
        data-check-on-init="true"
        
        data-card-view="true"        
        data-show-toggle="true"
        data-show-refresh="false"
        data-show-columns="true"
        data-show-pagination-switch="false" 
        data-flat="true"
        data-search="false"
        data-search-align="left"
        data-buttons-align="left"
        data-toolbar-align="right"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="right"
        data-pagination-v-align="top"

        data-cookie="true"
        data-cookie-id-table="saveId"
        
        data-filter-control="false"
        
        data-pagination="true" 
        data-side-pagination="client"  
        data-page-size="{{ page_size|default('10') }}"
        data-page-list="[10, 25, 50, 100]"
          
        {#data-sort-name="start_date"
        data-sort-order="asc"#}
        >
        <thead> 
            <tr>
                {#<th class="col-md-1" data-field="_id"  data-align="center" data-formatter="seriesButtonFormatter">&nbsp;</th>#}
                <th class="col-md-1" data-field='provider_name' data-sortable="true">Provider</th>
                <th class="col-md-1" data-field="dataset_code" data-title-tooltip="Dataset Code" data-sortable="true">Dataset</th>
                <th class="col-md-2" data-field="key" data-formatter="seriesKeyLinkFormatter" data-sortable="true">key</th>
                <th class="col-md-5" data-field="name" data-sortable="true">Name</th>
                <th class="col-md-1" data-field="frequency" data-align="center" data-sortable="true" data-title-tooltip="Frequency">Freq</th>
                <th class="col-md-1" data-field="start_date" data-align="center" data-sortable="true" data-filter-control="input">Start Date</th>                         
                <th class="col-md-1" data-field="end_date" data-align="center" data-sortable="true">End Date</th>
            </tr>
        </thead>
    </table>   
</div>

{#
<pre>{{ form.errors|pprint }}</pre>
<pre>Total: {{ count }}</pre>
<pre>{{ debug|pprint }}</pre>
#}

{% endblock %}                                    

{% block add_scripts %}
    {{super()}}
    
    {% include "include/form-js.html" with context %}
    
    <script type="text/javascript">
        $(document).ready(function(){
        	
        	$("#site_menu_left").show();
        	
        	var $table = $('#series');
        	
        	$('.select2-select').select2({
        		placeholder: "Select an option",
        		allowClear: true,
        		closeOnSelect: true,
        	}).val("ALL").trigger("change");
        	
        	 $('#search_form')
             	.find('[name="providers"]')
				.select2({
        			placeholder: "Select an option",
        			allowClear: true,
        			closeOnSelect: true,
        		})             	
        		.change(function(e) {
                	$('#search_form').formValidation('revalidateField', 'providers');
            	})
            	.end();
            
            function load_table(data){
                $table.bootstrapTable('load', data.rows); // client side
                //$table.bootstrapTable('load', data); // server side
            }
            
            var $search_form = $('#search_form').formValidation({
                framework: 'bootstrap',
                excluded: [':disabled'], //, ':hidden', ':not(:visible)'
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                live: 'enable',
                fields: {
                    query: {
                        validators: {
                            notEmpty: {
                                message: 'The query is required'
                            },
                            stringLength: {
                                min: 2,
                                message: 'The name must be more than 3 characters long'
                            },
                        }
                    },
                    providers: {
                        validators: {
                            callback: {
                            	message: 'The provider is required',
                                callback: function(value, validator, $field) {
                                    var options = validator.getFieldElements('providers').val();
                                    return (options != null && options.length >= 1);
                                }
                            } 
                        }
                    },
                    limit: {
                        validators: {
                            notEmpty: {
                                message: 'The limit is required'
                            },
                            between: {
                                min: {{ config.SEARCH_MIN }},
                                max: {{ config.SEARCH_MAX }},
                                message: 'The limit must be between {{ config.SEARCH_MIN }} and {{ config.SEARCH_MAX }}'
                            }                            
                        }
                    },
                },
            })
            .on('err.field.fv', function(e, data) {
            	data.fv.disableSubmitButtons(false);
            	
            })
            .on('success.field.fv', function(e, data) {
            	data.fv.disableSubmitButtons(false);
            })
            .on('success.form.fv', function(e) {
                e.preventDefault();

                var $form = $(e.target);

                $.ajax({
                    url: "{{ url_for("views.search_series") }}",
                    type: 'POST',
                    data: $form.serialize(),
                    success: function(result) {
                        $("#result_count").text(result.object_list.length + '/' + result.count);
                        
                        load_table({
                            "total": result.count,
                            "rows": result.object_list
                        });
                    },
                });
            	
            });
            
        });
    </script>
    
{% endblock %}
                                    
                                    
