{% extends "base_form.html" %}

{% block title %}{{super()}} - Series Explorer{% endblock %}

{%- block head %}
    {{super()}}
    <link href="{{ url_for('static', filename="widukind/explorer.css") }}" rel="stylesheet">
{% endblock %}


{% block page %}

<div class="container-fluid">

	<div class="row">
		<div id="site-left" class="col-md-3">
			<div class="row">
				<div class="col-md-12 nopadding-left">				
		            <div class="panel panel-default">
		                <div class="panel-heading nopadding">
		                
							<ul id="sidebarnav" class="nav nav-pills nav-justified" role="tablist">
							
								<!-- form multi select -->								
								<li role="sidebar" class="active">
									<a href="#tab-form" data-toggle="tab">
										<i class="fa fa-wpforms fa-lg fa-fw"></i>
									</a>
							  	</li>
							 	
							 	<!-- datatree -->
							 	<li role="sidebar">
							  		<a href="#tab-tree" title="Original datatree from Provider" data-toggle="tab">
							  			<i class="fa fa-sitemap fa-lg fa-fw"></i>
							  		</a>
							  	</li>
							 	
							 	<!-- search form -->
							 	<li role="sidebar">
							  		<a href="#tab-search" title="Search Full Text" data-toggle="tab">
							  			<i class="fa fa-search fa-lg fa-fw"></i>
							  		</a>
							  	</li>
							  	
							  	<!-- tags -->
							 	<li role="sidebar">
							  		<a href="#tab-tags" title="Filter by tags" data-toggle="tab">
							  			<i class="fa fa-tag fa-lg fa-fw"></i>
							  		</a>
							  	</li>
							  	
							</ul>
						</div><!-- panel-heading -->
						
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tab-form">
							
								<div class="panel panel-default noborder">
							    	<div class="panel-body">
										<form id="form-explorer" class="col-md-10 nopadding">
											<div class="form-group">
												<label class="control-label" for="provider">Provider:</label>
												<select id="provider" name="provider" class="form-control chosen-select"></select>
											</div>
											<div class="form-group">
												<label class="control-label" for="dataset">Dataset:</label>
												<select id="dataset" name="dataset" class="form-control chosen-select"></select>
											</div>
											
										</form>
							    	</div>
							    </div>
				    
							</div><!-- tabpanel tab-form -->
							
							<div role="tabpanel" class="tab-pane fade" id="tab-tree">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default noborder">
										    <div id="tree_wrapper" class="panel-body nopadding-left nopadding-right">

										    	<div class="input-group">
												    <input id="tree_search" name="tree_search" type="text" class="form-control input-sm" placeholder="Search category...">
													
													<span class="input-group-btn">												    
												        <button id="tree_btn_search" class="btn btn-default btn-sm" type="button">
												            <span class="glyphicon glyphicon-search"></span>
												        </button>
												        <button id="tree_btn_clear" class="btn btn-default btn-sm" type="button">
												            <span class="glyphicon glyphicon-remove"></span>
												        </button>
											        </span>
										        </div>
										        <p></p>
										        <div id="tree-tree"></div>
										    </div>
										</div>		    
									</div>
								</div>
							</div><!-- tabpanel tab-tree -->
							
							<div role="tabpanel" class="tab-pane fade" id="tab-search">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default noborder">
										    <div class="panel-body">
										    	<form id="form-search">
													<div class="input-group">
													    <input id="search" name="search" type="text" class="form-control input-sm" placeholder="Search...">
														
													    <span class="input-group-btn">
													        <button id="search_btn_search" class="btn btn-default btn-sm" type="submit">
													            <span class="glyphicon glyphicon-search"></span>
													        </button>
												        </span>
														<span class="input-group-btn">												    
													        <button id="search_btn_reset" class="btn btn-default btn-sm" type="reset" title="Reset search">
													            <span class="glyphicon glyphicon-remove"></span>
													        </button>
												        </span>
													</div>
													<div class="help_text">
													<small>
                                                        <p>
                                                        <br/>
                                                        Entering text separated by spaces will search for each word individually in order.<br/>
                                                        Example: <strong>Exchange Rates</strong><br/>
                                                        Will return results that contain the words <strong>Exchange</strong> OR <strong>Rates</strong><br/>
                                                        <br/>
                                                        To search for a phrase, enclose it in quotes<br/>
                                                        Example: <strong>"Exchange Rates"</strong><br/>
                                                        Will return results that contain the phrase <strong>Exchange Rates</strong><br/>
                                                        <br/>
                                                        All searches are case-insensitive.
                                                        </p>
                                                        </small>
													</div>
										    	</form>
										    </div>
										</div>		    
									</div>
								</div>
							</div><!-- tabpanel tab-search -->

							<div role="tabpanel" class="tab-pane fade" id="tab-tags">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default noborder">
										    <div class="panel-body">
										    	<div id="tags-cloud"></div>
										    </div>
										</div>
									</div>
								</div>
							</div><!-- tabpanel tab-tags -->
							
							
						</div><!-- tab-content -->
				    </div>
				</div><!-- col-md-12 -->
			</div><!-- row -->
		</div><!-- #site-left -->
		
		<div id="site-content" class="col-md-9">
			<div class="row">
				<div class="col-md-12 nopadding">
		            
		            <div class="panel panel-default">
		                <div class="panel-heading nopadding">

							<ul id="infosnavbar" class="nav nav-pills" role="tablist">

								<!-- toogle left sidebar -->							
								<li role="presentation">
									<a id="sidetoogle" class="success" href="javascript:void(0)" aria-controls="not" role="tab">
										<i class="fa fa-bars fa-fw" aria-hidden="true" title="Sidebar toogle"></i>
									</a>
							  	</li>
							  	
							  	<!-- infos / count -->
								<li role="presentation" class="active">
									<a href="#tab-infos" aria-controls="tab-infos" role="tab" data-toggle="tab">
										<i class="fa fa-info-circle fa-fw"></i> Infos
									</a>
							  	</li>

								<li role="presentation" class="btn-group">
									<a class="btn btn-default" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-download fa-fw"></i> API Link</a>
								    <ul class="dropdown-menu">
								    	<li><a id="down-json" href="javascript:void(0)">JSON</a></li>
								    	<li><a id="down-sdmx" href="javascript:void(0)">SDMX</a></li>
								    	{#
                                        <li><a id="down-html" href="javascript:void(0)">HTML</a></li>
                                        #}
								   	</ul>
								</li>							  	
		
								<li role="presentation">
									<a id="viewCart" class="success" href="javascript:void(0)" aria-controls="not" role="tab">
										<i class="fa fa-shopping-cart fa-fw" aria-hidden="true" title="View cart"></i>
										 Cart <span id="cart_count" class="badge">{{session.cart|length}}</span> 
									</a>
							  	</li>

							 	<li role="presentation">
							  		<a href="#tab-settings" aria-controls="tab-settings" role="tab" data-toggle="tab">
							  			<i class="fa fa-cog fa-fw"></i> Settings
							  		</a>
							  	</li>
							  	
                                <li role="presentation">
                                    <a id="tab-reset-filters" href="javascript:void(0)">
                                        <i class="fa fa-times fa-fw"></i> Reset filters
                                    </a>
                                </li>
							  	
							  	
							</ul><!-- infosnavbar -->
						</div><!-- panel-heading -->
						
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tab-infos">
					    		<table id="tab-infos" class="table nomargin-bottom table-hover table-condensed table-striped">
					    			<tbody>
					    				<tr>
					    					<td class="col-md-1">Series</td>
					    					<td class="col-md-2">Provider</td>
					    					<td class="col-md-3">Dataset</td>
					    					<td class="col-md-3">Tags</td>
					    					<td class="col-md-3">Search Terms</td>
				    					</tr>
					    				<tr>
					    					<td>
					    						<span id="total_series" class="human-number">0</span>
					    					</td>
					    					<td>
					    						<small><span id="selectedProvider">All</span></small>
					    					</td>
					    					<td>
					    						<small><span id="selectedDataset">All</span></small>
					    					</td>
					    					<td>
					    						<span id="selectedTags">None</span>
					    					</td>
					    					<td>
					    						<small><span id="selectedSearch">None</span></small>
					    					</td>
					    				</tr>
					    			</tbody>
					    		</table>
							</div>
							
							<div role="tabpanel" class="tab-pane fade" id="tab-settings">
							
								<div class="panel panel-default noborder">
							    	<div class="panel-body">
										<form class="form-horizontal" id="form-settings">
											<table class="table">
												<tbody>
													<tr>
														<td class="col-md-1">Limit Results</td>
														<td class="col-md-4">
															<select class="form-control chosen-select input-sm" id="limit" name="limit">
																<option value="50">50 series</option>
																<option value="100" selected="true">100 series</option>
																<option value="200">200 series</option>
																<option value="500">500 series</option>
																<option value="1000">1000 series</option>
															</select>
															<span class="help-text">Select a value for limit results.</span>
														</td>
													</tr>
												</tbody>
											</table>
										
										</form>
									</div>
								</div>
								
							</div><!-- tabpanel tab-settings -->
													
						</div><!-- .tab-content -->
					</div><!-- panel -->
				</div><!-- col -->
			</div><!-- row -->
			
			<div class="row">
			    <div class="col-md-12 nopadding">
			    
				    <div class="panel-body" style="display: none; height: 80%">        
				       <div id="graphdiv_contenair" class="contenair"></div>
				    </div>

					<div class="panel panel-default">
						<table class="table" id="series-list" 
							data-classes="table table-hover table-condensed table-striped table-no-bordered"    
		        			data-striped="true"
			    			data-cookie="true"
			    			data-cookie-id-table="saveExplorer"
					        data-card-view="false"        
		        			data-detail-view="false" 
	               			{#data-detail-formatter="detailFormatter"#}
	               			data-show-toggle="false"
	               			data-show-columns="false" 
		        			data-mobile-responsive="true"
		        			{#TODO: data-resizable="true" #} 
					        data-buttons-align="left" 
					        data-toolbar-align="right" 
					        data-pagination-h-align="left" 
					        data-pagination-detail-h-align="right" 
					        data-pagination-v-align="top" 
					        data-pagination="true" 
					        data-page-size="{{ page_size|default('10') }}" 
					        data-page-list="[10, 25, 50, 100]">
							<thead>
							    <tr>
					                {#
					                <th data-field="key" data-checkbox="true" class="styled"></th>
					                <th data-class="col-md-1" data-formatter="sparkFormatter" data-cell-style="sparkStyle" data-width="5%" data-card-visible="false">&nbsp;</th>
					                #}
					                <th data-width="100px" data-field="key" data-formatter="seriesButtonFormatter" data-card-visible="false" data-switchable="false">&nbsp;</th>
						            <th data-field="provider_name" data-formatter="providerFormatter" {#data-events="choiceEvent"#} data-sortable="true">Provider</th>
						            <th data-field="dataset_code" data-formatter="datasetCodeLinkFormatter" data-sortable="true">Dataset</th>
					                <th data-field="key" data-formatter="seriesKeyLinkFormatter" data-sortable="true" data-sort-name="key">key</th>
					                <th data-field="name" data-formatter="nameFormatter" data-sortable="true">Name</th>
					                <th data-field="frequency" data-formatter="frequencyFormatter" data-align="center" data-sortable="true" data-title-tooltip="Frequency">Freq</th>
						            <th data-field="start_date" data-formatter="periodFormatter" data-align="center">Period</th>                         
								</tr>
							</thead>
						</table>
					</div><!-- panel -->
				</div><!-- col -->	
			</div><!-- row -->
		</div><!-- #site-content -->
	</div><!-- row -->
</div>
    

{% endblock page %}


{% block scripts %}
    {{super()}}
	<script type="text/javascript" src="{{ url_for('static', filename='local/jquery.sparkline.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='local/dygraph-combined.js') }}"></script>

	<script id="template-select" type="x-tmpl-mustache">
		{% raw %}
		<div class="form-group" id="form_group_{{key}}">
			<label class="control-label" for="{{key}}">{{caption}}:</label>
			<select id="{{key}}" name="{{key}}" class="form-control input-sm chosen-select" multiple="true" data-placeholder="Choose a {{caption}}">
				{#<option value="">Choose a {{caption}}</option>#}
				{{#options}}
				<option value="{{id}}">{{text}}</option>
				{{/options}}
			</select>
		</div>
		{% endraw %}
	</script>
	
	<script id="template-detail" type="x-tmpl-mustache">
		{% raw %}
		<div>
		{{ meta.index }} {{ row.key }} : {{ row.name }}
		</div>
		{% endraw %}
		{#
		<span class="label label-success">{{name}}<span class="badge">{{count}}</span></span>
		#}
	</script>

	<script id="template-tags-cloud" type="x-tmpl-mustache">
		{% raw %}
		<ul class="list-group">
		{{#tags}}
  			<li class="list-group-item">
    			<span class="badge">{{count}}</span>
				<a class="tag" data-tag="{{name}}">{{ name }}</a> 
  			</li>
		{{/tags}}
		</ul>
		{% endraw %}
	</script>

	<script id="template-tags-selected" type="x-tmpl-mustache">
		{% raw %}
		{{#tags}}
		<span class="tag-selected label label-default" data-tag="{{.}}">{{.}}<i class="fa fa-times fa-fw"></i></span> 
		{{/tags}}
		{% endraw %}
	</script>
	
	<script id="template-table-buttons" type="x-tmpl-mustache">
		<div class="btn-group btn-group-xs" role="group">
		{% raw %}
      		<a title="Export series to CSV" type="button" class="btn btn-default" href="{{export_csv}}"><i class="fa fa-table"></i></a>
      		<button title="Show Graphic" type="button" class="btn btn-default view_graph" href="javascript:void(0)" data-series-slug="{{slug}}"><i class="fa fa-area-chart"></i></button>
			<button title="Add to cart" type="button" class="btn btn-default add_cart" href="javascript:void(0)" data-series-slug="{{slug}}"><i class="fa fa-shopping-cart"></i></button>
            <a title="View series" data-title="View series" type="button" class="btn btn-default modal_show" href="javascript:void(0)" data-url="{{view}}"><i class="fa fa-eye"></i></a>
		</div>
		{% endraw %}
	</script>

	<script id="template-table-buttons-light" type="x-tmpl-mustache">
		<div class="btn-group btn-group-xs" role="group">
		{% raw %}
      		<a title="Export series to CSV" type="button" class="btn btn-default" href="{{export_csv}}"><i class="fa fa-table"></i></a>
      		<button title="Show Graphic" type="button" class="btn btn-default view_graph" href="javascript:void(0)" data-series-slug="{{slug}}"><i class="fa fa-area-chart"></i></button>
      		<button title="Delete" type="button" class="btn btn-default remove_cart" href="javascript:void(0)" data-series-slug="{{slug}}"><i class="fa fa-trash"></i></button>
            <a title="View series" data-title="View series" type="button" class="btn btn-default modal_show" href="javascript:void(0)" data-url="{{view}}"><i class="fa fa-eye"></i></a>
		</div>
		{% endraw %}
	</script>

    <script type="text/javascript">

	var template = $('#template-select').html();
	var template_detail = $('#template-detail').html();
	var template_tags = $('#template-tags-cloud').html();
	var template_tags_selected = $('#template-tags-selected').html();
	var template_table_buttons = $('#template-table-buttons').html();
	var template_table_buttons_light = $('#template-table-buttons-light').html();
	Mustache.parse(template);
	Mustache.parse(template_detail);
	Mustache.parse(template_tags);
	Mustache.parse(template_tags_selected);
	Mustache.parse(template_table_buttons);
	Mustache.parse(template_table_buttons_light);
    
	var selectedProvider = {% if selectedProvider %}"{{selectedProvider}}"{% else %}null{% endif %};
	var selectedDataset = {% if selectedDataset %}"{{selectedDataset}}"{% else %}null{% endif %};
    //{#var selectedSeries = {% if selectedSeries %}"{{selectedSeries}}"{% else %}null{% endif %};#}
	var selectedTags = [];
    var providers_by_slug = {};
    var datasets_by_slug = {};
    var datasets_by_slug_dscode = {};
    var cartSeries = [];
    var search;
    var bestTags;
    var cartCount = {{session.cart|length}};
	var dimension_filter = [];
 	var full_dimension_filter = {};
 	var is_filter = false;
	var api_no_select_text = "Select an provider and an dataset for completed URL !";
	var api_no_select_dim_text = "Select one or more dimensions !";
	var count_series = 0;
	var dimensionFields = [];
	var loaded_datatree = null;
	var loaded_tags = null;
    
    /*
    function choiceEvent(e, value, row, index){
    	console.log("event : ", e, value, row, index);
    }
    */
    
    function sparkFormatter(value, row) {
    	var 	values = _.sortBy(row.values, function(num) { return _.ceil(parseFloat(num), 2); });
    	return '<span class="sparklines" values="' + values.join(',') + '"></span>';
    }
    
    function sparkStyle(value, row, index){
   	  	return {
   		    //classes: 'text-nowrap',
   		    css: {"background-color": "white"}
		};    	
    }
    
    function seriesButtonFormatter(value, row, line){
    	return Mustache.render(template_table_buttons, row)
    }

    function seriesButtonFormatterLight(value, row, line){
    	return Mustache.render(template_table_buttons_light, row)
    }
    
    function providerFormatter(value, row){
        return '<small>' + value +'</small>';
    }

    function seriesKeyLinkFormatter(value, row){
        return '<small>' + value + '</small>';
    	//return '<small><a class="modal_show" data-title="Series details" data-url="' + row.view +'" data-series-slug="' + row.slug + '" href="javascript:void(0)" title="Show detail">' + row.key +'</a></small>';
    }

    function datasetCodeLinkFormatter(value, row){
        return '<small>' + value + '</small>';
    	//return '<small><a class="modal_show" data-title="Dataset" data-url="' + row.view_dataset +'" data-dataset-slug="' + row.dataset_slug + '" href="javascript:void(0)" title="Show dataset">' + value +'</a></small>';
    }
    
    function periodFormatter(value, row){
    	return '<span class="label label-default">' + row.start_date + ' -> ' + row.end_date + '</span>';
    }
    
    function frequencyFormatter(value, row){
    	return '<span class="label label-default">' + row.frequency_txt + '</span>';
    }
    
    function nameFormatter(value, row){
    	return '<small>' + value + '</small>'
    }
    
    function menusite_toogle(){
		var site_left = $('#site-left');
		var site_content = $('#site-content');
		
		if (site_left.is(':visible')) {
			site_left.hide();
			site_content.removeClass('col-md-9');
			site_content.addClass('col-md-12');
		} else {
			site_content.removeClass('col-md-12');
			site_content.addClass('col-md-9');
			site_left.show();
		}
    }
    
    function refresh_selectedTags(){
    	$('#selectedTags').empty();
    	if (! _.isEmpty(selectedTags)){
    		var result = Mustache.render(template_tags_selected, {tags: selectedTags});
    	} else {
    		var result = "None";
    	}
    	$('#selectedTags').html(result);
    }
    
    function local_tags(){
    
        if (_.isEmpty(selectedProvider)){
            var _error = '<div class="alert alert-danger" role="alert">Select a provider for load tags.</div>'
            $('#tags-cloud').html(_error);
            return;
        }

    	if (loaded_tags === selectedProvider){
    		return;
    	}
    	
    	var url = '{{ url_for(".ajax-tag-prefetch-series") }}?limit=50&provider=' + selectedProvider;
		ajax(url, 'GET').done(function(data) {
			if (data.length > 0) {
				//remove tag if name start with number value
				var tags = _.filter(data, function(item) { return _.isNaN(_.parseInt(item.name[0])); });
				var result = Mustache.render(template_tags, {tags: tags});
			} else {
				var result = '<span class="text-warning">No tags found</span>';
			}
			$('#tags-cloud').html(result);
			loaded_tags = selectedProvider;
  		});

    }
    
    function local_treeview(tree, callback){
    	
    	var $searchableTree = $('#tree-tree').treeview({
        	data: tree,
        	enableLinks: false,
        	showTags: false,
        	onhoverColor: 'none',
        	expandIcon: 'fa fa-plus-circle',
        	onNodeSelected: function(event, data) {
        		if (data.href) {
        			selectedDataset = _.last(data.href.split('/'));
        			return callback();
        		} else {
        			$('#tree-tree').treeview('toggleNodeExpanded', [ data.nodeId, { silent: false } ]);
        		}
        	}
        });

        $('#tree_btn_search').off('click').on('click', function(e){
            var pattern = $('#tree_search').val();
            var options = {
              ignoreCase: true,
              exactMatch: false,
              revealResults: true
            };
            var results = $searchableTree.treeview('search', [ pattern, options ]);
        });

        $('#tree_btn_clear').off('click').on('click', function (e) {
          $searchableTree.treeview('clearSearch');
          $('#tree_search').val('');
          $searchableTree.treeview('collapseAll', { silent: true });
          //$('#search-output').html('');
        });

        $('#tree-tree').on('nodeSelected', function(event, data) {
       		//console.log("nodeSelected : ", data);
       		if (! data.nodes){
       			//TODO: $('#selectedCategory').text(data.text);
       			$('#sidebarnav a[href="#tab-form"]').tab('show');
       			$('html, body').animate({ scrollTop: 0 }, 0); //go to top page
       			
       			// set selected dataset in select field
       			$.each($('#dataset option'), function(i, item) {
       				var _item = $(this);  
       				if (_item.val() === selectedDataset){
       					$(this).prop('selected', true);
       					$("#dataset").trigger("chosen:updated");
       					$("#selectedDataset").text(selectedDataset);
       					return;
       				}
       			});
       		}
        });
    }

	function detailFormatter(index, row) {
		var o = {meta: {index: index}, row: row};
		return Mustache.render(template_detail, o);
	};
	
	function table_buttons(){
		//button in first column of data table
		
	    $(".modal_show").off('click').on('click', function(e){
	    	e.preventDefault();
	    	var title = $(this).attr("data-title");
	    	var url = $(this).attr("data-url");
	    	ajax(url, 'GET', {}, {dataType: 'html', accepts: 'text/html'}).done(function(data) {
	    		var dialog = bootbox.alert({
	    			title: title,
	    			backdrop: true,
	    			size: 'large',
	    			closeButton: false,
	    			message: data
	    		}).on('shown.bs.modal', function () {
		    		flask_moment_render_all();
		    		$('[data-toggle="tooltip"]').tooltip({
		    		    placement: 'auto left',
		    		});
		    	});
	    	});
	    });
		
	    $(".add_cart").off('click').on('click', function(e){
	    	e.preventDefault();
	    	url = '{{url_for(".ajax-cart-add")}}';
	    	var slug = $(this).attr("data-series-slug");
	    	ajax(url, 'GET', {"slug": slug}).done(function(data) {
	    		$("#cart_count").text(data.count);
	    		cartCount = data.count;
	    		toastr[data.notify.category](data.notify.msg, {timeOut: 2000});
	    	});			
	    });
		
	    $(".view_graph").off('click').on('click', function(e){
	    	e.preventDefault();
	    	var slug = $(this).attr("data-series-slug");
	    	//TODO: replace with data
	    	var url = "/views/ajax/plot/series/" + slug;
	    	ajax(url, 'GET').done(function(data) {
	    		
	    		var dialog = bootbox.alert({
	    			title: data.meta.provider_name + ' - ' + data.meta.dataset_code + ' - ' + data.meta.key,
	    			backdrop: true,
	    			size: 'large',
	    			closeButton: false,
	    			message: '<div id="graphdiv" style="width:100%; background-color: white;"></div>'
	    		}).on('shown.bs.modal', function () {
	    			  var datas = [];
	    			  var options = {
	    			      labels: ['Period', 'Value'],
	    			      title: data.meta.name,
	    			      titleHeight: 32,
	    			      includeZero: true,
	    			      showRangeSelector: true
	    			  };

	    			  _.each(data.data, function(item){
	    				  datas.push([new Date(item.period_ts), parseFloat(item.value)]);
	    			  });

	    			  new Dygraph("graphdiv", datas, options);
	    		});
	    	});
		});
	}
	    
	function after_loadData(){
		table_buttons(); 
	}
	
    $(document).ready(function(){
    	
    	var $table = $('#series-list').bootstrapTable({
    		formatShowingRows: function(){
    			return '';	
    		}
    	});
    	/*
        FIXME: bypass buttons click
        .on('click-row.bs.table', function(e, row, element){
            console.log("event : ", e);
            e.preventDefault();
            //$(element).toggleClass("active-row");
            ajax(row.view, 'GET', {}, {dataType: 'html', accepts: 'text/html'}).done(function(data) {
                var dialog = bootbox.alert({
                    title: row.name,
                    backdrop: true,
                    size: 'large',
                    closeButton: false,
                    message: data
                }).on('shown.bs.modal', function () {
                    flask_moment_render_all();
                });
            });
        });
        */    	
    	
        var $search_form = $('#form-search').formValidation({
            framework: 'bootstrap',
            excluded: [':disabled'],
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                search: {
                    validators: {
                        notEmpty: {
                            message: 'The query is required'
                        },
                        stringLength: {
                            min: 3,
                            message: 'The name must be more than 3 characters long'
                        },
                    }
                },
            }
        })
       	.on('err.field.fv', function(e, data) {
       		data.fv.disableSubmitButtons(false);
       	})
       	.on('success.field.fv', function(e, data) {
       		data.fv.disableSubmitButtons(false);
       	})
        .on('success.form.fv', function(e) {
            e.preventDefault();
            //console.log("event e : ", e);
			//console.log("success.form - search val : ", $('#search').val());
			search = $('#search').val();
			loadData();
			$('#sidebarnav a[href="#tab-form"]').tab('show');
			$('#selectedSearch').text(search);
        });

		$('#form-search').on('reset', function (e) {
			$('#selectedSearch').text("None");
			$('#search').empty();
			search = null;
			loadData();
			$('#sidebarnav a[href="#tab-form"]').tab('show');
		});

        /*
		$('#search_btn_search').click(function (e) {
			e.preventDefault();
			console.log("search val : ", $('#search').val());
			return false;
		});
		*/
		
        $('#form-explorer').formValidation({
            framework: 'bootstrap',
            excluded: [':disabled'],
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            
        });	
        
        $('#form-settings').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
        });
    									
		$('#infosnavbar a').off('click').on('click', function (e) {
			e.preventDefault();
			var select_tab = $(this);
			if (select_tab.attr('id') === 'sidetoogle'){
				menusite_toogle();
				return;
			} else {
				switch(select_tab.attr('href')) {
				    case '#tab-settings':
						//$('#limit').chosen();
				        break;
				    //default:
				    //    default code block
				}
			}
			//select_tab.tab('show');
		});
		
		var limit = $('#limit').val();
		
		$('#sidebarnav a').off('click').on('click', function (e) {
			e.preventDefault()

			if ( $(this).attr('href') == "#tab-tree" ){
				if (_.isEmpty(selectedProvider)){
					var _error = '<div class="alert alert-danger" role="alert">Select a provider for display this tree.</div>'
					$('#tree-tree').html(_error);
					return;
				} else {
					if (loaded_datatree === selectedProvider){
						return;
					}
					var url = "{{ url_for('.tree_root_base')}}?json=1&provider=" +selectedProvider;
					ajax(url, 'GET', {}, {dataType: 'script', accepts: 'application/javascript'}).done(function(data) {
			  			local_treeview(datatree.tree, loadData);
			  			return;
			  		});
					loaded_datatree = selectedProvider;
				}
			} else if ( $(this).attr('href') == "#tab-tags" ){
				local_tags(loadData);
				return;
			}
		});
		
	    function loadData(){
	  		var url = "{{url_for('.ajax-explorer-datas')}}";
	  		var options = {};
	  		
	  		options.limit = limit;
	  		
	  		if (selectedDataset) {
	  			options.dataset = selectedDataset;
	  		}
	  		else if (! _.isEmpty(selectedProvider)) {
	  			options.provider = selectedProvider;
	  		}
            /*
            if (! _.isEmpty(selectedSeries)) {
                options.series = selectedSeries;
            }
            */
	  		
	  		dimension_filter = [];
	  		full_dimension_filter = {};
	  		is_filter = false;
	  		
	  		//var search = $('#search').val();
	  		if (! _.isEmpty(search)) {
	  			options.search = search;
	  		}

	  		if (! _.isEmpty(selectedTags)) {
	  			options.tags = selectedTags.join(' ');
	  		}
	  		
	  		_.forEach(dimensionFields, function(dim) {
	  			var add_filter;
	  			if (! _.isEmpty(dim.selectedOption)){
	  				options['dimensions_' + dim.key] = dim.selectedOption.join(' ');
	  				add_filter = dim.selectedOption.join('+');
	  				if (! _.isEmpty(add_filter) ){
	  					is_filter = true;
	  					full_dimension_filter[dim.key] = add_filter;
	  				}
	  			} else {
	  				add_filter = "";
	  			}
	  			dimension_filter.push(add_filter);
	  		});

	  		ajax(url, 'GET', options).done(function(data) {
	        	$table.bootstrapTable('load', data.data);
	        	$("#count_series").text(Humanize.formatNumber(data.data.length));
	            $("#total_series").text(Humanize.formatNumber(data.meta.total));
	            count_series = data.meta.total;
	            after_loadData();
	  		});
	  		
  			/*
  			{#
  			//http://widukind-api-dev.cepremap.org/api/v1/html/datasets/insee-ipch-2015-fr-coicop/values?frequency=M&produit=10
  			//http://widukind-api-dev.cepremap.org/api/v1/html/datasets/insee-ipch-2015-fr-coicop/values?frequency=m
  			//http://widukind-api-dev.cepremap.org/api/v1/html/datasets/bis-pp-ls/values?reference-area=fr+au&frequency=Q
  			//http://widukind-api-dev.cepremap.org/api/v1/html/datasets/bis-pp-ls/Q/values?reference-area=fr+au
	  		var api_html = ["{{ config.BASE_URL_API_HTML}}"];
	  		api_html.push("datasets");
	  		api_html.push(selectedDataset);
	  		api_html.push("values");
	  		api_html = api_html.join('/');
  			if (is_filter){
  				api_html = api_html + '?' + $.param(full_dimension_filter);
  			}
  			$("#htmlURL").attr('href', api_html);
  			$("#htmlURL").text(api_html);
  			#}
  			*/
	  		
	  		$('.sparklines').sparkline('html', {
	  			width: '50px',
	  			height: '20px',
	  			//normalRangeMax: 20,
	  		});
	  	};
		
		function Provider(data) {
		    this.id = data.slug;
		    this.text = data.name;
		}

		function Dataset(data) {
		    this.id = data.slug;
		    this.text = data.dataset_code + ' - ' + data.name;
		    this.dataset_code = data.dataset_code;
		}

	  	function loadProviders(){
			var url = '{{ url_for(".ajax-providers-list") }}';
			ajax(url, 'GET').done(function(data) {
	            var providers = $.map(data.data, function(item) { return new Provider(item) });
	            
	            $('#provider').empty().append('<option value="">Select a Provider</option>');
	            
	            _.each(providers, function(item) {
	            	providers_by_slug[item.id] = item.text;
	            	if (selectedProvider && selectedProvider === item.id){
	            		$('#provider').append($("<option></option>").attr("value", item.id).attr("selected", "true").text(item.text));
	            	} else {
		            	$('#provider').append($("<option></option>").attr("value", item.id).text(item.text));
	            	}
	            });
	            
	            $('#provider').chosen({allow_single_deselect: true});
			});
	  	};
	  	
	  	function loadDatasets(){
	  		if (_.isEmpty(selectedProvider)){
	  			cleanDataset();
	  			return;
	  		}
	  		
	  		$("#dataset").chosen("destroy");
	  		
			var url = '/views/ajax/providers/'+ selectedProvider +'/datasets';
			ajax(url, 'GET').done(function(data) {
	            var datasets = $.map(data.data, function(item) { return new Dataset(item) });
	            
	            $('#dataset').empty().append('<option value="">Select a Dataset</option>');
	            
	            _.each(datasets, function(item) {
	            	datasets_by_slug[item.id] = item.text;
	            	datasets_by_slug_dscode[item.id] = item.dataset_code;
	            	if (selectedDataset && selectedDataset === item.id){
	            		$('#dataset').append($("<option></option>").attr("value", item.id).attr("selected", "true").text(item.text));
	            	} else {
		            	$('#dataset').append($("<option></option>").attr("value", item.id).text(item.text));
	            	}
	            	//$('#dataset').append($("<option></option>").attr("value", item.id).text(item.text));
	            });
	            
	            $('#dataset').chosen({allow_single_deselect: true});
	        });
	  	};

	  	function loadDimensions(){
	  		
	  		if ( _.isEmpty(selectedDataset) ){
	  			cleanDimensions();
	  			return;
	  		}

	  		cleanDimensions();
	  		dimensionFields = new Array()
	  		
			var url = '/views/ajax/datasets/'+ selectedDataset +'/dimensions/all';
			
			ajax(url, 'GET').done(function(data) {
				
				_.forEach(data.data, function(item){
            		var options = [];
            		
            		$.each(item.codes, function(key2, item2){
            			options.push({"id": key2, "text": item2});
            		});
            		
            		var newobj = {
            			"key": item.key,
            			"selectedOption": [],
            			"selectedDataset": selectedDataset,
            			"options": options,
            			"caption": item.name
            		};
            		dimensionFields.push(newobj);
            	});
            	
    			_.forEach(dimensionFields, function(dim) {
    		    	var rendered = Mustache.render(template, dim);
    		        var result = $("#form-explorer").append(rendered);
    		    });
    			
    			_.forEach(dimensionFields, function(dim) {
    				$("#" + dim.key).chosen("destroy");
    				
    				$("#" + dim.key).chosen({allow_single_deselect: true})
    				.on('change', function() {
    					dim.selectedOption = $(this).val();
    					loadData();
    				});
    			});
    			
			});
			
	  	};

	  	function cleanDataset(){
	  		selectedDataset = null;
	  		$('#dataset').empty().chosen();
	  		$("#selectedDataset").text("All");
	  		dimension_filter = [];
			is_filter = false;
	  	}

	  	function cleanDimensions(){
	  		_.forEach(dimensionFields, function(dim) {
	  			$("#" + dim.key).chosen("destroy");
	  			$("#form_group_" + dim.key).remove();
	  		});
	  		dimensionFields = new Array();
	  		dimension_filter = [];
			is_filter = false;
	  		$("#sdmxURL").text(api_no_select_text);
	  		$("#jsonURL").text(api_no_select_text);
	  		//$("#htmlURL").text(api_no_select_text);
	  	}
	  	
	  	$('#limit').on('change', function() {
	  		limit = this.value;
	  		$('#infosnavbar a[href="#tab-infos"]').tab('show');
	  		loadData();
	  	});	
	  	
	  	$('#provider').on('change', function() {
	  		selectedProvider = $(this).val();
	  		cleanDataset();
	  		cleanDimensions();
	  		if (selectedProvider){
	  			$("#selectedProvider").text(providers_by_slug[selectedProvider]);
	  		} else {
	  			$("#selectedProvider").text("All");
	  		}
	  		loadDatasets();
	  		selectedTags = [];
	  		refresh_selectedTags();
	  		$('#search').empty();
	  		$('#tree-tree').empty();
	  		loadData();
	  	});	
	  	
	  	$('#dataset').on('change', function() {	  		
	  		selectedDataset = this.value;
	  		if (selectedDataset){
	  			$("#selectedDataset").text(datasets_by_slug[selectedDataset]);
	  		} else {
	  			$("#selectedDataset").text("All");
	  		}
	  		cleanDimensions();
	  		loadDimensions();
	  		loadData();
	  	});	

		loadProviders();
		loadDatasets();
		loadData();

  		if (selectedProvider){
  			$("#selectedProvider").text(providers_by_slug[selectedProvider]);
  		}
  		
  		if (selectedDataset){
  			$("#selectedDataset").text(datasets_by_slug[selectedDataset]);
  			loadDimensions();
  		}

        $("#tab-tags").delegate('.tag', 'click', function(e){
	    	e.preventDefault();
	    	var tag = $(this).attr('data-tag');
	    	if (_.indexOf(selectedTags, tag) >= 0){
	    		_.pull(selectedTags, tag);
	    	} else {
	    		selectedTags.push(tag);
	    	}
	    	$(this).toggleClass("label label-success");
	    	refresh_selectedTags();
	    	loadData();
	    });
		
    	$("#tab-infos").delegate('.tag-selected', 'click', function(e){
	    	e.preventDefault();
	    	var tag = $(this).attr('data-tag');
	    	_.pull(selectedTags, tag);
	    	$('.tag[data-tag="' + tag + '"]').toggleClass("label label-success");
	    	refresh_selectedTags();
	    	loadData();
	    });
	    
	    function get_sdmx_link(){
	  		var api_sdmx = ["{{ config.BASE_URL_API_SDMX}}"];
  			api_sdmx.push(providers_by_slug[selectedProvider]);
  			api_sdmx.push("data");
  			api_sdmx.push(datasets_by_slug_dscode[selectedDataset]);
  			if (is_filter){
  				api_sdmx.push(dimension_filter.join('.').toUpperCase());
  			} else {
  				api_sdmx.push('all');
  			}
  			return api_sdmx.join('/');
	    }

	    function get_json_link(){
	  		var api_json = ["{{ config.BASE_URL_API_JSON}}"];
	  		api_json.push("datasets");
	  		api_json.push(selectedDataset);
	  		api_json.push("values");
	  		api_json = api_json.join('/');
  			if (is_filter){
  				api_json = api_json + '?' + $.param(full_dimension_filter);
  			}
  			return api_json;
	    }
	    
	    function api_display_sdmx(){
	    	var message;
	    	
	    	if (! _.isEmpty(selectedDataset) && count_series < 1000) {
	    		var _message = [];
	    		var _msg = get_sdmx_link();
	    		_message.push('<div class="form-group"><div class="input-group margin-bottom-sm">');
	    		_message.push('<input class="form-control" type="text" id="sdmxLink" value="' + _msg + '"/>');
	    		_message.push('<span id="clip_btn" title="Copy to clipboard" class="input-group-addon" data-clipboard-target="#sdmxLink"><i class="fa fa-clipboard fa-fw"></i></span>');
	    		_message.push('</div>');
	    		_message.push('<span class="text-primary text-right help-block"><small>Click to icon for copy url in clipboard.<small></span>');
	    		_message.push('</div>');
	    		message = _message.join('');
	    		new Clipboard('#clip_btn');
	    		
	    	} else {
	    		if (_.isEmpty(selectedDataset)){
	    			message = '<span class="text-danger">Selected dataset is required !</span>';
	    		} else {
	    			message = '<span class="text-warning">Too many data</span> Select an provider and an dataset for completed URL !';
	    		}
	    	}
    		bootbox.alert({
    			title: "SDMX Api link",
    			backdrop: true,
    			closeButton: false,
    			message: message
    		});		    	
	    }

	    function api_display_json(){
	    	var message;
	    	
	    	if (! _.isEmpty(selectedDataset) && count_series < 1000) {
	    		var _message = [];
	    		var _msg = get_json_link();
	    		_message.push('<div class="form-group"><div class="input-group margin-bottom-sm">');
	    		_message.push('<input class="form-control" type="text" id="jsonLink" value="' + _msg + '"/>');
	    		_message.push('<span id="clip_btn" title="Copy to clipboard" class="input-group-addon" data-clipboard-target="#jsonLink"><i class="fa fa-clipboard fa-fw"></i></span>');
	    		_message.push('</div>');
	    		_message.push('<span class="text-primary text-right help-block"><small>Click to icon for copy url in clipboard.<small></span>');
	    		_message.push('</div>');
	    		message = _message.join('');
	    		new Clipboard('#clip_btn');
	    		
	    	} else {
	    		if (_.isEmpty(selectedDataset)){
	    			message = '<span class="text-danger">Selected dataset is required !</span>';
	    		} else {
	    			message = '<span class="text-warning">Too many data</span> Select an provider and an dataset for completed URL !';
	    		}
	    	}
    		bootbox.alert({
    			title: "JSON Api link",
    			backdrop: true,
    			closeButton: false,
    			message: message
    		});		    	
	    }
	    
	    $("#down-sdmx").off('click').on('click', function(e){
			e.preventDefault();
			api_display_sdmx();
		});

	    $("#down-json").off('click').on('click', function(e){
			e.preventDefault();
			api_display_json();
		});
		
		function reset_all_filters(){
            cleanDimensions();
            cleanDataset();
            selectedTags = [];
            refresh_selectedTags();
            search = null;
            $('#search').empty();
            if (! _.isEmpty(search)){
                $('#tree-tree').treeview('clearSearch');
            }
            loadDatasets();
            $('a.label-success').each(function(item){
                $(this).toggleClass("label label-success");
            });
            loadData();
		}
		
        $("#tab-reset-filters").off('click').on('click', function(e){
            e.preventDefault();
            reset_all_filters();
        });
		
        $("#viewCart").off('click').on('click', function(e){
			e.preventDefault();
			
			if (cartCount <= 0){
			 return false;
			}
			
	    	var url = "{{ url_for(".ajax-cart-view") }}";
	    	ajax(url, 'GET', {}, {cache: false, dataType: 'html', accepts: 'text/html'}).done(function(data) {
	    		
	    		var dialog = bootbox.alert({
	    			title: "Series cart",
	    			backdrop: true,
	    			size: 'large',
	    			closeButton: false,
	    			message: data
	    		})
	    		.on('hidden.bs.modal', function () {
	    			table_buttons();
	    		})
	    		.on('shown.bs.modal', function () {
	    			
	    			var $cart = $('#series_cart').bootstrapTable();
	    			var selected_cart = [];
	    			
	    			$cart.on('load-success.bs.table', function(data){
	    				table_buttons();
	    			
		    	    	/*
		    	    	$('#checkAll').off('click').on('click', function () {
		    	            $cart.bootstrapTable('checkAll');
		    	        });
		    	    	$('#uncheckAll').off('click').on('click', function () {
		    	            $cart.bootstrapTable('uncheckAll');
		    	        });
		    	    	
		    	        $('#delete').off('click').on('click', function () {
		    	            var index = [];
		    	            var selected = $cart.bootstrapTable('getData');
		    	            console.log("selected : ", selected);
		    	            $('input[name="btSelectItem"]:checked').each(function () {
		    	                index.push(selected[$(this).data('index')].slug);
		    	            });
		    	            console.log('Checked : ', index);
		    	        });
		    	        */
		    	        
		    	        $('.remove_cart').off('click').on('click', function (e) {
		    		    	e.preventDefault();
		    		    	var slug = $(this).attr("data-series-slug");
		    		    	var url = '{{url_for(".ajax-cart-remove")}}';
		    		    	ajax(url, 'GET', {"slug": slug}).done(function(data) {
		    		    		$("#cart_count").text(data.count);
		    		    		cartCount = data.count;
                                if (cartCount > 0) {
                                    $cart.bootstrapTable('refresh', {});
                                } else {
                                  dialog.modal('hide');
                                }
		    		    		toastr[data.notify.category](data.notify.msg, {timeOut: 2000});
		    		    	});
		    	        });
		    			
	    			});
	    	        
	    		});
	    	});
		});
	    
	    
    });
    
    </script>
    
{% endblock %}
    