{% extends "layout.html" %}

{% block title %}{{super()}} - Ko{% endblock %}

{% block styles %}
    {{super()}}
    {% include "include/form-css.html" with context %}
    {#
    #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css" rel="stylesheet"/>

	<style type="text/css">
	/*
	input[type="radio"].styled:checked+label:after {
	    font-family: 'FontAwesome';
	    content: '';
	}
	#search_form .col-xs-3, .col-xs-2 {
	   padding-left: 0;
	}
	*/
	</style>    
{% endblock %}

{% block page %}

<div class="container-fluid">

	<div class="row">
		<div class="col-md-2">
			{#
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
				    	<div class="panel-body">
							<h4><span id="count_series" class="human-number badge">0</span> / <span id="total_series" class="human-number badge">0</span></h4>
						</div>
					</div>	
				</div>
			</div>
			#}
		
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
				    	<div class="panel-body">
				    			    	
							<form id="search_form">
							
								<div class="form-group">
									<label class="control-label" for="limit">Limit on <span id="total_series">0</span> Series</label>
									<select id="limit" name="limit" class="form-control input-sm">
										<option value="50">50</option>
										<option value="100" selected="true">100</option>
										<option value="200">200</option>
										<option value="500">500</option>
										<option value="1000">1000</option>
									</select>
								</div>
								
								<div class="form-group">
									<label class="control-label" for="provider">Provider:</label>
									<select id="provider" name="provider" class="form-control input-sm"></select>
								</div>
							
								<div class="form-group">
									<label class="control-label" for="dataset">Dataset:</label>
									<select id="dataset" name="dataset" class="form-control input-sm chosen"></select>
								</div>
								
							</form>
							
				    	</div>
				    </div>
				</div>
			</div>		
		</div>
		
		<div class="col-md-10">
			{#
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
				    	<div class="panel-body">
				    		<h4>
				    		Series : <span id="count_series" class="human-number badge">0</span> / <span id="total_series" class="human-number badge">0</span> 
				    		Selected :  
				    		<span class="label label-default" id="selectedProvider">All</span>
				    		<span class="label label-default" id="selectedDataset"></span>
				    		</h4>
				    	</div>
				    </div>
			    </div>
			</div>
			#}
			
			<div class="row">
			    <div class="col-md-12">

				<div class="panel panel-default">
				
					<table class="table" id="series-list" 
						data-classes="table table-hover table-condensed"   
	        			data-striped="true" 
	        			data-mobile-responsive="true"
				        data-buttons-align="left"
				        data-toolbar-align="right"
				        data-pagination-h-align="left"
				        data-pagination-detail-h-align="right"
				        data-pagination-v-align="top"
				        data-pagination="true" 
				        data-page-size="{{ page_size|default('10') }}"
				        data-page-list="[10, 25, 50, 100]"  
						>
					<thead>
					    <tr>
					    
			                <th class="col-md-1" data-field="key" data-formatter="seriesButtonFormatter">&nbsp;</th>
			                {#
			                <th class="col-md-1" data-field="view" data-formatter="seriesLinkFormatter">&nbsp;</th>
			                <th class="col-md-1" data-field="slug" data-formatter="addCartFormatter">&nbsp;</th>
			                #}
				            <th class="col-md-1" data-field="provider_name" data-sortable="true">Provider</th>
				            <th class="col-md-1" data-field="dataset_code" data-sortable="true">Dataset</th>
			                <th class="col-md-2" data-field="key" data-formatter="seriesKeyLinkFormatter" data-sortable="true">key</th>
			                <th class="col-md-4" data-field="name" data-sortable="true">Name</th>
			                <th class="col-md-1" data-field="frequency" data-align="center" data-sortable="true" data-title-tooltip="Frequency">Freq</th>
				            <th class="col-md-1" data-field="start_date" data-align="center" data-sortable="true" data-filter-control="input">Start Date</th>                         
				            <th class="col-md-1" data-field="end_date" data-align="center" data-sortable="true">End Date</th>
					    	
						</tr>
					</thead>
					</table>
				</div>
			</div>		
		</div>
	</div>
</div>
    

{% endblock page %}


{% block scripts %}
    {{super()}}
    {% include "include/form-js.html" with context %}
    {#
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js" type="text/javascript"></script>
    #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js" type="text/javascript"></script>    

	<script id="template-select" type="x-tmpl-mustache">
		{% raw %}
		<div class="form-group" id="form_group_{{key}}">
			<label class="control-label" for="{{key}}">{{caption}}:</label>
			<select id="{{key}}" name="{{key}}" class="form-control input-sm" multiple="true">
				<option value="">Choose a {{caption}}</option>
				{{#options}}
				<option value="{{id}}">{{text}}</option>
				{{/options}}
			</select>
		</div>
		{% endraw %}
	</script>

    <script type="text/javascript">

    $(document).ready(function(){
    	
		var $table = $('#series-list').bootstrapTable();
		
		//$.fn.chosen.defaults.allow_single_deselect = true;

		var limit = $('#limit').val();
		//var providers = [];
		var selectedProvider;
		var selectedDataset;
		var dimensionFields = [];
    	
		var template = $('#template-select').html();
    	Mustache.parse(template);
    	
    	$('#limit').chosen();

	    function loadData(){
	  		var url = "{{url_for('.series-all')}}";
	  		var options = {};
	  		
	  		options.limit = limit;
	  		
	  		if (selectedDataset) {
	  			options.dataset = selectedDataset;
	  		}
	  		else if (! _.isEmpty(selectedProvider)) {
	  			options.provider = selectedProvider;
	  		}
	  		
	  		_.forEach(dimensionFields, function(dim) {
	  			console.log("verify : ", dim.key, dim.selectedOption);
	  			if (dim.selectedOption){
	  				options[dim.key] = dim.selectedOption.join(' ');
	  			}
	  		});
	  		
	  		ajax(url, 'GET', options).done(function(data) {
	        	$table.bootstrapTable('load', data.data);
	        	$("#count_series").text(Humanize.formatNumber(data.data.length));
	            $("#total_series").text(Humanize.formatNumber(data.meta.total));
	  		});
	  		
	  	};
		
	    function ajax(uri, method, data) {
	        var request = {
	            url: uri,
	            type: method,
	            async: false,
	            timeout: 60 * 1000,
	            contentType: "application/json",
	            accepts: "application/json",
	            //cache: false,
	            dataType: 'json',
	            data: data, //JSON.stringify(data),
	            traditional: true,
	            error: function(jqXHR) {
	            	//TODO: ecrire erreur dans champs status
	                console.log("ajax error " + jqXHR.status);
	            }
	        };
	        return $.ajax(request);
	    }
	    
		function Provider(data) {
		    this.id = data.slug;
		    this.text = data.name;
		}

		function Dataset(data) {
		    this.id = data.slug;
		    this.text = data.dataset_code;
		}

	  	function loadProviders(){
			var url = '{{ url_for(".ajax-providers-list") }}';
			ajax(url, 'GET').done(function(data) {
	            var providers = $.map(data.data, function(item) { return new Provider(item) });
	            
	            $('#provider').empty().append('<option value="">Select a Provider</option>');
	            _.each(providers, function(item) {
	            	$('#provider').append($("<option></option>").attr("value", item.id).text(item.text));
	            });
	            
	            $('#provider').chosen({allow_single_deselect: true});
			});
	  	};
	  	
	  	function loadDatasets(){
	  		if ( _.isEmpty(selectedProvider) ){
	  			$('#dataset').empty().chosen();
	  			selectedDataset = null;
	  			return;
	  		}
	  		
	  		$("#dataset").chosen("destroy");
	  		
			var url = '/views/ajax/providers/'+ selectedProvider +'/datasets';
			ajax(url, 'GET').done(function(data) {
	            var datasets = $.map(data.data, function(item) { return new Dataset(item) });
	            
	            $('#dataset').empty().append('<option value="">Select a Dataset</option>');
	            
	            _.each(datasets, function(item) {
	            	$('#dataset').append($("<option></option>").attr("value", item.id).text(item.text));
	            });
	            
	            $('#dataset').chosen();
	        });
	  	};

	  	function cleanDimensions(){
	  		_.forEach(dimensionFields, function(dim) {
	  			$("#" + dim.key).chosen("destroy");
	  			$("#form_group_" + dim.key).remove();
	  		});
	  		dimensionFields = new Array();
	  	}
	  	
	  	function loadDimensions(){
	  		
	  		if ( _.isEmpty(selectedDataset) ){
	  			cleanDimensions();
	  			return;
	  		}

	  		cleanDimensions();
	  		dimensionFields = new Array()
	  		
			var url = '/views/ajax/datasets/'+ selectedDataset +'/dimensions/all';
			
			ajax(url, 'GET').done(function(data) {

            	$.each(data.data, function(key, item) {
            		var options = [];
            		
            		$.each(item.codes, function(key2, item2){
            			options.push({"id": key2, "text": item2});
            		});
            		
            		var newobj = {
            			"key": key,
            			"selectedOption": [],
            			"selectedDataset": selectedDataset,
            			"options": options,
            			"caption": item.name
            		};
            		dimensionFields.push(newobj);
            	});
            	
    			_.forEach(dimensionFields, function(dim) {
    		    	var rendered = Mustache.render(template, dim);
    		        var result = $("#search_form").append(rendered);
    		    });
    			
    			_.forEach(dimensionFields, function(dim) {
    				$("#" + dim.key).chosen("destroy");
    				
    				$("#" + dim.key).chosen({max_selected_options: 10})
    				.on('change', function() {
    					dim.selectedOption = $(this).val();
    					loadData();
    				});
    			});
    			
			});
			
	  	};
	  	
	  	function changeDataset(value){
	  		selectedDataset = value;
	  		$("#selectedDataset").text(selectedDataset);
	  		loadData();
	  		cleanDimensions();
	  		loadDimensions();
	  	}

	  	function cleanDataset(value){
	  		selectedDataset = null;
	  		$("#selectedDataset").empty();
	  	}

	  	$('#limit').on('change', function() {
	  		limit = this.value;
	  		loadData();
	  	});	
	  	
	  	$('#provider').on('change', function() {
	  		selectedProvider = $(this).val();
	  		cleanDataset();
	  		cleanDimensions();
	  		$("#selectedProvider").text(selectedProvider);
	  		loadData();
	  		loadDatasets();
	  	});	
	  	
	  	$('#dataset').on('change', function() {	  		
	  		changeDataset(this.value);
	  	});	

		loadData();
		loadProviders();
		loadDatasets();
		
    });
    
    </script>
    
{% endblock %}
    