{% extends "layout.html" %}

{% block title %}{{super()}} - Series - {{provider.name}} - {{dataset.dataset_code}} - {{series.key}}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for("home") }}">Home</a></li>
      <li><a href="{{ url_for("views.providers") }}">Providers</a></li>      
      <li><a href="{{ url_for("views.datasets", slug=provider.slug) }}">{{provider.name}}</a></li>
      <li><a href="{{ url_for('views.series_by_dataset_slug', slug=dataset.slug) }}">{{dataset.dataset_code}}</a></li>      
      <li class="active">{{series.key}}</li>
    </ol>
{% endblock %}

{% block meta_keywords %}{{super()}}, {{provider.name}}, {{provider.long_name}}, {{ dataset.name }}, {{ dataset.dataset_code }}, {{series.key}}, {{series.name}}{% endblock %}

{% block page %}

<a name="home"></a>

<div class="panel panel-default">
    <div class="panel-heading">
    	<div class="row">
	    	<div class="col-md-1">
			    <a title="Show Graphic" id="export_graphic" href="#">
		           <span class="fa-stack fa-lg">
		             <i class="fa fa-circle fa-stack-2x"></i>
		             <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
		           </span>
			    </a>
			    <a title="Download CSV file" href="{{ url_for('download.series_csv', slug=series.slug) }}">
		           <span class="fa-stack fa-lg">
		             <i class="fa fa-circle fa-stack-2x"></i>
		             <i class="fa fa-table fa-stack-1x fa-inverse"></i>
		           </span>	       
			    </a>
	        </div>
	        <div class="col-md-11">
				<h4>{{ provider.name }} - {{ dataset.dataset_code }} - {{ series.key }}</h4>	        
			</div>
  		</div>        
    </div>
    <div class="panel-body" style="display: none;">        
       <div id="graphdiv_contenair" class="contenair"></div>
    </div>
</div>    

<div class="panel panel-default table-responsive">
	<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <tbody>            
            <tr>
                <td class="col-md-2">Provider</td>
                <td class="col-md-10">
                	<a href="{{ url_for(".datasets", slug=provider.slug) }}">
                	{{ provider.long_name }}
                	</a>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">Dataset</td>
                <td class="col-md-10">
                	<a href="{{ url_for(".dataset-by-slug", slug=dataset.slug) }}">
                		{{ dataset.dataset_code }} - {{ dataset.name }}
                	</a>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">Name</td>
                <td class="col-md-10">{{ series.name }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Key</td>
                <td class="col-md-10">{{ series.key }}</td>
            </tr>
            <tr>
                <td class="col-md-2">Last Updated</td>
                <td class="col-md-10">{{ moment(dataset.last_update).format('LLL') }} ({{ moment(dataset.last_update).fromNow()}})</td>
            </tr>
            <tr>
                <td class="col-md-2">Web Site</td>
                <td class="col-md-10">
                    {% if dataset.doc_href and dataset.doc_href.lower().startswith('http') %}
                        <a target="_blank" href="{{ dataset.doc_href }}">{{ dataset.doc_href }}</a>
                    {% else %}
	                    <a href="{{ provider.website }}">{{ provider.website }}</a>
                    {% endif %}                
                </td>
            </tr>
            <tr>
                <td class="col-md-2">Periods</td>
                <td class="col-md-10">
                	{{series["values"][0].period}} to {{series["values"][-1].period}}
                 </td>
            </tr>
            <tr>
                <td class="col-md-2">Frequency</td>
                <td class="col-md-10">{{frequency(series.frequency)}}</td>
            </tr>
            <tr>
                <td class="col-md-2">Dimensions</td>
                <td class="col-md-10">
                	<div class="table-responsive">
                    <table class="table table-striped table-condensed">
	                    <tbody>
	                    {% for key in dataset.dimension_keys %}	                    
		                    {% if key in series.dimensions %}
		                    {% set dimension = series.dimensions[key] %}
		                       <tr>
		                       {# TODO: link to dimension in dataset #}
		                           <td class="col-md-3">
										{{ dataset.concepts[key]|default(key) }}
								   </td>
		                           <td class="col-md-9">
		                           		{{ dataset.codelists[key][dimension]|default(dimension) }} ({{dimension}})
		                           </td>
		                       </tr>
		                    {% endif %}
	                    {% endfor %}
	                    </tbody>
                    </table>
                   	</div>
                 </td>
            </tr>
            <tr>
                <td class="col-md-2" id="display-attributes">
                	Attributes <i class="fa fa-eye fa-lg"></i>
                </td>
                <td class="col-md-10">
                	<div class="attributes" style="display: none">
                    {% if series.attributes %}
                    <table class="table table-striped table-condensed table-responsive">
                        <tbody>
	                    {% for key in dataset.attribute_keys %}	                    
		                    {% if key in series.attributes %}
		                    {% set attribute = series.attributes[key] %}
		                       <tr>
		                           <td class="col-md-3">{{ dataset.concepts[key]|default(key) }}</td>
		                           <td class="col-md-9">{{ dataset.codelists[key][attribute]|default(attribute) }} ({{attribute}})</td>
		                       </tr>
		                    {% endif %}
	                    {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        None
                    {% endif %}
                    </div>       
                 </td>
            </tr>            
            <tr>
                <td class="col-md-12" colspan="2">
                
                    <div class="table-responsive">
                    <table class="table table-striped table-condensed table-bordered table-hover">
		                    {% for value in series["values"]|reverse %}
		                    	{% if loop.first %}
		                    	<th class="success">Period</th>
		                    	<th class="success">Current</th>
		                    	{% if obs_attributes %}
								<th class="success">Attributes</th>
								{% endif %}
		                    	
		                    	{% for rev in revision_dates|sort %}
		                    	<th class="success">
		                    		{{ moment(rev).format('LL') }}
		                    	</th>
								{% endfor %}
								<tbody>		                    	
		                    	{% endif %}
	                           <tr>
	                               	<td class="col-md-1">{{ value.period }}</td>
	                               	<td>
	                               		{{ value.value }}
	                               	</td>
	                               
			                    	{% if value.attributes %}
			                    	{% for attr_key, attr_value in value.attributes.items() %}
			                    		<td class="col-md-1">
			                    		<a href="#obs_attributes_{{attr_key}}_{{attr_value}}">
			                    			{{attr_value}}
			                    			{#
			                    			{{ dataset.codelists[attr_key][attr_value]|default(attr_value) }}
			                    			#}
			                    		</a>
			                    		</td>		                    	
			                    	{% endfor %}
			                    	{% endif %}
	                               
									{% for rev in revision_dates|sort %}
									<td>
										{% set found = False %}
										{% for v in value.revisions %}
											{% if v.revision_date == rev %}
												{{v.value}}
												{% set found = True %}
												{#{% break %}#}
											{% endif %}
										{% endfor %}
										{% if not found %}
											&nbsp;
										{% endif %}
	                               	</td>	   
	                               	{% endfor %}
	                           </tr>
		                    {% endfor %}                 
                        </tbody>
                    </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
	</div>    
</div>

{% if obs_attributes %}
<a name="obs_attributes"></a>
{% for key in obs_attributes %}

	<a name="obs_attributes_{{key}}"></a>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>{{ dataset.concepts[key]|default(key) }}</h4>
		</div>
		<div class="panel-body">
		{% for k, v in dataset.codelists[key].items() %}
		<div class="row">
			<div class="col-md-1">
				<a name="obs_attributes_{{key}}_{{k}}"></a>
				{{ k }} 
			</div>         	
			<div class="col-md-11">
				: {{ v }}
			</div>
		</div>	
		{% endfor %}
		</div>
	</div>

{% endfor %}
{% endif %}

<a name="tags"></a>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Tags</h4></div>
    <table class="table table-striped table-condensed table-responsive">
        <tbody>
            <tr>
                <td class="col-md-2">Tags</td>
                <td class="col-md-10">{{series.tags|join(", ")}}</td>
            </tr>                        
        </tbody>
    </table>       
</div>

<a id="debug" class="btn btn-default btn-sm" href="#"><i class="fa fa-cog"></i> Debug</a>

<div class="debug" style="display: none">
    <h2>Series:</h2>
	<pre id="debug_object_series"></pre>

	<h2>Dataset:</h2>
	<pre id="debug_object_datasets"></pre>
</div>

{% endblock %}

{% block add_scripts %}
    {{super()}}
    
    <script type="text/javascript">
    $(document).ready(function(){
    	
        $("#display-attributes").click(function(e){
            e.preventDefault();
            $(".attributes").toggle();
        });
    	
        $("#debug").click(function(e){
            e.preventDefault();
            if ( $(".debug").is(":visible") ) {
            	$(".debug").toggle();	
            } else {
	 		   	$.ajax({
			        url: "{{ url_for('.series-by-slug', slug=series.slug) }}",
			        cache: false,
			        success: function(result) {
			        	$("#debug_object_series").text(result.series);
			        	$("#debug_object_datasets").text(result.dataset);
			        }
			   	});
	 		   $(".debug").toggle();
            }
        });
    	        
    });
    </script>
    
	<script type="text/javascript">
	
	    function update_csv_data(){
		   $.ajax({
		        url: "{{ url_for('.series_plot', slug=series.slug) }}",
		        cache: false,
		        complete: function(jqXHR, textStatus){
		            if (textStatus == "success"){
		            	$("#graphdiv_contenair").html(jqXHR.responseText);
		            }
		        }
		   });
		}
	
		$(document).ready(function(){			
            
		    $("#export_graphic").click(function(e){
		    	var p = $("#graphdiv_contenair").parent();
		    	if ( p.is(":visible") ) {
		    		p.hide();
		    	} else {
		    		p.show()
		    		update_csv_data();
		    	}
		        e.preventDefault();
		    });     
		});
	   
	
	</script>    
    
{% endblock %}
  