{% if not is_modal %}
{% extends "base_form.html" %}
{% endif %}

{% if not is_modal %}
{% block title %}{{super()}} | Series | {{ provider.name }} | {{ provider.long_name }} | {{ dataset.dataset_code }} | {{ dataset.name }} | {{ series.key }} | {{ series.name }}{% endblock %}
{% block meta_description %}Series - {{ provider.name }} - {{ provider.long_name }} - {{ dataset.dataset_code }} - {{ dataset.name }}} - {{ series.key }} - {{ series.name }}{% endblock %}
{% block meta_keywords %}{{ provider.name }}, {{ provider.long_name }}, {{ dataset.dataset_code }}, {{ dataset.name }}}, {{ series.key }}, {{ series.name }}{% endblock %}
{% endif %}

{% if not is_modal %}
{%- block head %}
    {{super()}}
    <link href="{{ url_for('static', filename="widukind/explorer.css") }}" rel="stylesheet">
{% endblock %}
{% endif %}

{% macro attribute_short(value) %}
{%- if value.attributes -%}
	{%- for attr_key, attr_value in value.attributes.items() -%}
		{% set title = dataset.codelists[attr_key][attr_value] if attr_key in dataset.codelists else attr_value  %}
		<a data-toggle="tooltip" title="{{ title }}" href="javascript:void(0)">
			{{ attr_value }}
		</a>
	{%- endfor -%}
{%- else -%}
	&nbsp;								
{%- endif -%}

{% endmacro %}

{% block page %}

<div class="container-fluid modal-detail">
	<div class="row">
		<div class="col-md-12 nopadding">
		
			<div id="modal-detail-title" class="panel panel-default nopadding-left">
		    	<div class="panel-heading">
		    		<h5 class="nomargin">{{ provider.name }} - {{ dataset.dataset_code }} - {{ series.key }} - <small>{{ series.name }}</small></h5>
		    	</div>
		   	</div>
			
			<div class="panel panel-default nomargin-bottom">
		    	<div class="panel-heading nopadding">
		    	
					<ul id="sidebarnav-series" class="nav nav-pills" role="tablist">
					
						<li role="series" class="active">
							<a href="#tab-modal-identity" aria-controls="tab-modal-identity" data-toggle="tab">
								<i class="fa fa-user fa-fw"></i> Identity
							</a>
					  	</li>
					  	
						<li role="series">
							<a href="#tab-modal-val" aria-controls="tab-modal-val" data-toggle="tab">
								<i class="fa fa-database fa-fw"></i> Datas
							</a>
					  	</li>

						<li role="series">
							<a href="#tab-modal-rev" aria-controls="tab-modal-rev" data-toggle="tab">
								<i class="fa fa-clock-o fa-fw"></i> Revisions
							</a>
					  	</li>

						<li role="series">
							<a data-series-plot-url="{{url_series_plot}}" href="#tab-modal-graph" aria-controls="tab-modal-graph" data-toggle="tab">
								<i class="fa fa-area-chart"></i> Graph
							</a>
					  	</li>

						<li role="series">
							<a href="#tab-modal-dim" aria-controls="tab-modal-dim" data-toggle="tab">
								<i class="fa fa-wpforms fa-fw"></i> Dimensions
							</a>
					  	</li>

						{#
						<li role="series">
							<a href="#tab-modal-tags" aria-controls="tab-modal-tags" data-toggle="tab">
								<i class="fa fa-tag fa-fw"></i> Tags
							</a>
					  	</li>
					  	#}

                        <li role="series">
                            <a href="#tab-modal-dataset" aria-controls="tab-modal-dataset" data-toggle="tab">
                                <i class="fa fa-tag fa-fw"></i> Dataset
                            </a>
                        </li>
                        
                        <li role="series">
                            <a href="#tab-modal-api" aria-controls="tab-modal-api" data-toggle="tab">
                                <i class="fa fa-download fa-fw"></i> API Links
                            </a>
                        </li>
                        
                        {% if not is_modal and is_logged() %}
                        <li role="series">
                            <a href="#tab-modal-debug" aria-controls="tab-modal-debug" data-toggle="tab">
                                <i class="fa fa-code fa-fw"></i> Debug
                            </a>
                        </li>
                        {% endif %}
					  	
					</ul><!-- nav-pills -->
				</div><!-- panel-heading -->
				
				<div class="tab-content">

					<div role="tabpanel" class="tab-pane fade in active" id="tab-modal-identity">
						
					    <table id="series-identity" class="table table-striped table-condensed table-bordered">
					    	<tbody>
                                <tr>
                                    <td class="col-md-2">Release Date</td>
                                    <td class="col-md-10">
                                        {{ moment(series.last_update_ds).format('LLL') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">Current Version</td>
                                    <td class="col-md-10">
                                        {{ series.version }} ({%if is_latest %}latest{% else %}old{% endif %})
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">Direct Url</td>
                                    <td class="col-md-10">
                                        <a {% if is_modal %}target="_blank" {% endif %} href="{{ url_series }}">{{ url_series }}</a>
                                        {#
                                        <form class="form-inline">
                                        <div class="form-group">
                                        <select class="form-control input-sm" name="revisions" id="revisions">
                                        	<option value="{{ url_series }}" selected="true">Current</option>
                                        	{% for rev in revisions %}
                                        	<option value="{{rev.url}}">{{rev.version}} - {{ moment(rev.last_update_ds).format('YYYY-MM-DD') }}</option>
                                        	{% endfor %}
                                        </select>
                                        </div>
                                        </form>
                                        #}
                                    </td>
                                </tr>
					            <tr>
					                <td class="col-md-2">Provider</td>
					                <td class="col-md-10">
					                	<a href="{{ url_provider }}">{{ provider.long_name }}</a>
					                </td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Dataset</td>
					                <td class="col-md-10">
					                	<a href="{{ url_dataset }}">{{ dataset.dataset_code }} - {{ dataset.name }}</a>
					                </td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Name</td>
					                <td class="col-md-10">{{ series.name }}</td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Key</td>
					                <td class="col-md-10">{{ series.key }}</td>
					            </tr>
                                <tr>
                                    <td class="col-md-2">Slug</td>
                                    <td class="col-md-10">{{ series.slug }}</td>
                                </tr>
					            <tr>
					                <td class="col-md-2">Updated</td>
					                <td class="col-md-10">{{ moment(series.last_update_widu).format('LLL') }}</td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Web Site</td>
					                <td class="col-md-10">
					                    {% if dataset.doc_href and dataset.doc_href.lower().startswith('http') %}
					                    	<a target="_blank" href="{{ dataset.doc_href }}">{{ dataset.doc_href }}</a>
					                    {% else %}
					                    	{{ provider.website }}
					                    {% endif %}                
					                </td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Periods</td>
					                <td class="col-md-10">
					                	{{series["values"][0].period}} to {{series["values"][-1].period}}
					                 </td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Frequency</td>
					                <td class="col-md-10">{{frequency(series.frequency)}}</td>
					            </tr>
								{% if series.tags %}
					            <tr>
					                <td class="col-md-2">Tags</td>
					                <td class="col-md-10">
					                	{% for tag in series.tags %}
							            	<span class="label label-default">{{tag}}</span>
							            {% endfor %}
					                </td>
					            </tr>
					            {% endif %}
							</tbody>
						</table>
					
					</div><!-- tabpanel tab-modal-identity -->
					
					<div role="tabpanel" class="tab-pane fade" id="tab-modal-dim">
					    <table id="seriesDim" class="table table-striped table-condensed">
					    	<tbody>
					            <tr>
					                <td class="col-md-2">Dimensions</td>
					                <td class="col-md-10">
					                	<ul>
					                    {% for key in dataset.dimension_keys %}	                    
						                    {% if key in series.dimensions %}
						                    {% set dimension = series.dimensions[key] %}
											<li>
												{{ dataset.concepts[key]|default(key) }} : {{ dataset.codelists[key][dimension]|default(dimension) }} ({{dimension}})
											</li>
						                    {% endif %}
					                    {% endfor %}
					                    </ul>
					                 </td>
					            </tr>
					            <tr>
					                <td class="col-md-2">Attributes</td>
					                <td class="col-md-10">
					                	<ul>
					               		{% if series.attributes %}
						                    {% for key in dataset.attribute_keys %}	                    
							                    {% if key in series.attributes %}
							                    {% set attribute = series.attributes[key] %}
							                    {% set attribute_value = dataset.codelists[key][attribute]|default(attribute) %}
							                    <li>
							                    	{{ dataset.concepts[key]|default(key) }} : {{ attribute_value }}{% if attribute != attribute_value %} ({{attribute}}){% endif %}
							                    </li>
							                    {% endif %}
						                    {% endfor %}
					                    {% else %}
					                        <li>None</li>
					                    {% endif %}
					                    </ul>
					                 </td>
					            </tr>
							</tbody>
						</table>
					</div><!-- tabpanel tab-modal-dim -->

					<div role="tabpanel" class="tab-pane fade" id="tab-modal-val">
					    <table 
					    	id="seriesDatas" 
					    	data-classes="table table-hover table-bordered"
					    	data-striped="true" 
	        				data-mobile-responsive="true" 
					    	data-height="400">
						    <thead>
								{% for value in series["values"]|reverse %}
					              	{% if loop.first %}
					              	<th class="col-xs-2">Period</th>
					              	<th class="col-xs-2 text-right">{{ moment(series.last_update_ds).format('YYYY-MM-DD') }}</th>
					              	<th class="col-xs-2">&nbsp;</th>
							</thead>				
							<tbody>                	
					              	{% endif %}
					                <tr>
										<td>{{ value.period }}</td>
					                    <td>{{ value.value }}</td>
										<td>{{ attribute_short(value) }}</td>
									</tr>
								{% endfor %}                 
							</tbody>
						</table>
					</div><!-- tabpanel tab-modal-val -->

					<div role="tabpanel" class="tab-pane fade" id="tab-modal-rev">
						{% if not revisions %}
						<p class="text-warning">No revisions.</p>
						{% else %}
					    <table 
					    	id="seriesRevisions" 
					    	data-classes="table table-hover table-condensed table-striped table-bordered"
					    	data-striped="true" 
	        				data-mobile-responsive="true" 
					    	data-height="400" 
					        data-buttons-align="left" 
					        data-toolbar-align="right" 
					        data-pagination="false"  
					    	data-show-columns="true">
					    	<thead>
					    		<th class="col-xs-2">
					    			<small>Period</small>
					    		</th>
				    			<th class="col-xs-1 text-right">
				    				<small>{{ moment(series.last_update_ds).format('YYYY-MM-DD') }}</small>
				    			</th>
					    		{% for s in revisions %}
				    			<th class="col-xs-1 text-right">
				    				<small>
					    				<a href="{{ s.url }}">
					    				{{ moment(s.last_update_ds).format('YYYY-MM-DD') }}{# ({{s.version}}) #}
					    				</a>
				    				</small>
				    			</th>
					    		{% endfor %}
					    	</thead>
					    	<tbody>
					    		{% for value in series["values"]|reverse %}
					    		{% set indice = loop.index0 %}
					    		<tr>
					    			<td>
					    				{{ value.period }}
					    			</td>
					    			<td class="text-right">
					    				<small>{{value.value}} {{ attribute_short(value) }}</small>
					    			</td>
					    			{% for s in revisions %}
									{% set rev_values = s["values"] %}
					    			<td class="text-right">
					    				{% if rev_values[indice] %}
					    					<small>{{rev_values[indice].value}} {{ attribute_short(value) }}</small>
					    				{% else %}
					    				&nbsp;
					    				{% endif %}
					    			</td>
					    			{% endfor %}
					    		</tr>
					    		{% endfor %}
					    	</tbody>
						</table>
						{% endif %}
						
					</div><!-- tabpanel tab-modal-rev -->

					<div role="tabpanel" class="tab-pane fade" id="tab-modal-graph">
						<div id="graphdiv-modal" style="width:100%; background-color: white;"></div>
					</div><!-- tabpanel tab-modal-graph -->
					
					<div role="tabpanel" class="tab-pane fade" id="tab-modal-tags">
						{% if series.tags %}
					    <table id="seriesTags" class="table table-striped table-condensed">
					        <tbody>
					            <tr>
					                <td class="col-md-2">Tags</td>
					                <td class="col-md-10">
					                	<div>
					                	{% for tag in series.tags %}
					                		<span class="label label-default">{{tag}}</span>
					                	{% endfor %}
					                	</div>
					                </td>
					            </tr>                        
					        </tbody>
						</table>
						{% else %}
						<div class="text-warning">No tags</div>
						{% endif %}
						
					</div><!-- tabpanel tab-modal-tags -->
					
                    <div role="tabpanel" class="tab-pane fade" id="tab-modal-dataset">
                        {% include "dataset-shared-identity.html" with context %}
                        
                        {% include "dataset-shared-dims-attrs.html" with context %}
                        
                        {% include "dataset-shared-tags.html" with context %}
                    </div><!-- tabpanel tab-modal-dataset -->
                    
                    <div role="tabpanel" class="tab-pane fade" id="tab-modal-api">
                        <table class="table">
                            <tr>
                                <td class="col-xs-1">
                                    <h5>SDMX</h5>
                                </td>
                                <td>
                                    <pre>{{ config.BASE_URL_API_SDMX}}/{{series.provider_name}}/data/{{dataset.dataset_code}}/{{dimension_filter}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-1">
                                    <h5>JSON</h5>
                                </td>
                                <td>
                                    <pre>{{ config.BASE_URL_API_JSON}}/series/{{series.slug}}</pre>
                                </td>
                            </tr>
                            {#
                            <tr>
                                <td class="col-xs-1">
                                    <h5 class="pull-right">HTML</h5>
                                </td>
                                <td>
                                    <pre>{{ config.BASE_URL_API_HTML}}/series/{{series.slug}}</pre>
                                </td>
                            </tr>
                            #}
                        </table>
                    </div><!-- tabpanel tab-modal-api -->
                    
                    {% if not is_modal and is_logged() %}
                    <div role="tabpanel" class="tab-pane fade" id="tab-modal-debug">
                        
                        <a id="debug" class="btn btn-default btn-sm" href="#"><i class="fa fa-cog"></i> Click for load</a>
                        
                        <div class="debug" style="display: none">
                            <h2>Series:</h2>
                            <pre id="debug_object_series"></pre>
                            
                            <h2>Revisions:</h2>
                            <pre>{{ revisions|pprint }}</pre>
                        
                            <h2>Dataset:</h2>
                            <pre id="debug_object_dataset"></pre>
                            
                            <h2>Provider:</h2>
                            <pre id="debug_object_provider"></pre>
                            
                        </div>
                    </div><!-- tabpanel tab-modal-debug -->
                    {% endif %}
                    
					
				</div><!-- tab-content -->
			</div><!-- panel -->
		</div><!-- col-md-12 -->
	</div><!-- row -->
</div><!-- container-fluid -->

{% endblock page %}				

{% if not is_modal %}

{% block add_scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='local/dygraph-combined.js') }}"></script>

<script type="text/javascript">

$(document).ready(function(){

    onLoadSeries();
    
    var debug_options = {
        url: "{{ url_for('.series-by-slug', slug=series.slug) }}?debug=1",
        button_id: "#debug",
        parent_id: ".debug",
        target_series_id: "#debug_object_series",
        target_dataset_id: "#debug_object_dataset", 
        target_provider_id: "#debug_object_provider", 
    };
    debug_series(debug_options);
    
});
</script>
{% endblock %}

{% endif %}

