{% macro selectpicker_field(field, title, place_holder="", is_multiple=False, data_tags=False, max_options=None, label_col="col-xs-3", field_col="col-xs-6", type_form="normal", no_label=False, add_blank=True) %}

{% if not no_label %}
<label class="{{label_col}} control-label" for="{{field.name}}">{{ title }}</label>
{% endif %}

{% if not type_form == "normal" %}
<div class="{{field_col}}">
{% endif %}

    <select id="{{field.name}}" name="{{field.name}}" class="form-control select2-select" {#data-tags="{{data_tags|lower}}"#} data-placeholder="{{place_holder}}" data-allow-clear="false" {% if is_multiple %}multiple="multiple"{% endif -%}>
        {% for opt in field %}
            {% if opt.value == "---" %}
                <option value="ALL">All</option>    
            {% else %}
                {{ opt(**{"data-foo":"bar"}) }}
            {% endif %}
        {% endfor %}
    </select>
{% if not type_form == "normal" %}
</div>
{% endif %}
{%- endmacro %}

