{% import "bootstrap/wtf.html" as wtf %}
{% import "include/macros.html" as lib %}

    <form id="search_form" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        

        <div class="form-group">
            <label class="control-label" for="query">Search:</label>
            <input type="search" class="form-control" name="query" data-fv-autofocus="true" placeholder="Type search text..." />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-default btn-sm btn-block" value="Search" />
        </div>
        
        <div class="form-group">
            {{ lib.selectpicker_field(form.providers, "Providers:", place_holder="Select an provider", is_multiple=True, no_label=False) }}
        </div>

        {% if search_type == "series" %}
        
	        <div class="form-group">
	            {{ lib.selectpicker_field(form.datasets, "Datasets:", place_holder="Select an dataset", is_multiple=True, no_label=False) }}
	        </div>

	        <div class="form-group">
	            {{ lib.selectpicker_field(form.frequency, "Frequency:", place_holder="Select an frequency", no_label=False) }}
	        </div>
	        
	        {#
	        <div class="form-group">
	            <label class="control-label" for="start_date">Start date:</label>
	            <input type="text" class="form-control input-inline input-sm" name="start_date" placeholder="Start date"/>
	        </div>
	            
	        <div class="form-group">
	            <label class="control-label" for="end_date">End date:</label>
	            <input type="text" class="form-control input-sm" name="end_date" placeholder="End date"/>
	        </div>
	        #}
        {% endif %}

        <div class="form-group">
            {{ lib.selectpicker_field(form.sort, "Sort", place_holder="Sort by", no_label=False) }}
        </div>
        
        <div class="form-group">
            <label class="control-label" for="limit">Limits:</label>
            <input name="limit" type="text" class="form-control" value="{{ config.SEARCH_MIN }}" />
        </div>           

    </form>
