<script type="text/javascript">

$(document).ready(function(){
	
var datas = [];

var options = {
    labels: ['Period', 'Value'],
    title: '{{series.key}}',
    titleHeight: 32,
    includeZero: true,
    showRangeSelector: true
}

{%- for value in datas %}
   {%- if not loop.first -%}
   {#datas.push([new Date("{{value.0}}"), parseFloat("{{value.1|float}}")]);#}
   datas.push(["{{value.0}}", parseFloat("{{value.1|float}}")]);   
   {%- endif %}
{%- endfor %}

new Dygraph("graphdiv", datas, options);

});


</script>
